{% extends 'home_base.html' %}
{% load staticfiles %}
    {% block top_header %}
       {{ block.super }}
    {% endblock %}
    {% block top_menu_bar %}
       {{ block.super }}
    {% endblock %}
    {% block slider %}
    {% endblock %}
    {% block main_content %}
       {{ block.super }}
    {% endblock %}
    {% block body %}
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="heading">
                            <h2 style="color:#12603F">Forgot Password</h2>
                            <p style="text-align:justify;">Please enter your Registered email ID and we will send a password reset link</p>
                        </div>
                        <div class="container">
                            <form class="contact-form" name="reset_password" id="reset_password" method="post" action="/signup/reset/">
                            {% csrf_token %}
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group control-group">
                                            <div class="control">
                                                <input type="text" name="resend_email" id="resend_email" class="form-control" required="required" placeholder="Enter Email">
                                            </div>
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <button type="submit" class="btn btn-effect" id="submit1" name="submit1" required="required">Resend</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
    {% block footer %}
       {{ block.super }}
    {% endblock %}
    {% block copy_rights %}
       {{ block.super }}
    {% endblock %}
    {% block bootstrap-modal %}
       {{ block.super }}
    {% endblock %}
