<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <title></title>
    <style>
        @page {
            size: a4;
            background-image: url('/static/images/watermark.jpg');
            @frame header_frame {           /* Static Frame */
                    -pdf-frame-content: header_content;
                    left: 10pt;
                    right: 10pt;
                    width: 575pt;
                    top: 10pt;
                    height: 80pt;
                    -pdf-frame-border: 1;
                }
            @frame content_frame {
                left: 10pt;
                right: 10pt;
                width: 575pt;/*(766.666667px;)*/
                top: 90pt;
                bottom: 10pt;
                height: 730pt;/*(1093.333333px;)*/
                /*background-color : #000000;*/
                -pdf-frame-border: 1;    /* for debugging the layout */
            }
            @frame footer_frame {           /* Another static Frame */
                    -pdf-frame-content: footer_content;
                    left: 10pt;
                    right: 10pt;
                    width: 575pt;
                    top: 780pt;
                    height: 40pt;
                    -pdf-frame-border: 1;
                }

        }
        .main_div{
            /*background-color: #f5f5f5;*/
        }
        .profile_image{
            width: 200px;
            height: 200px;
        }
        .section{
            padding:0px 13px;
            border-bottom: 1px #f2f2f2 solid;
        }
        .section-title{
            font-size:20px;
            font-weight:400;
            color: #194d3f;
        }
        .section-sub-title{
            font-size:15px;
        }
        .table-2{
            padding-top:10px;
        }
        .land-mark{
            padding-top:10px;
        }
        .practice-locations{
            padding-top:10px;
        }
        .instruments-sold{
            padding-top:10px;
        }
        p{
            font-size: 18px;
        }
        .promise-tab{
            padding-left: 28px;
        }
        .table {
    border-spacing: 15px;
}
        .table#t01 th {
    background-color: black;
    color: white;
}
    </style>
</head>
<body>
    <div id="header_content" class="header_logo" style="padding-top: 1em;">
        <table height ="60px;">
            <tr>
                <td width="70%">
                    <p style="text-align:center;">
                        India's first Real Estate Investment Advisory Network
                    </p>
                </td>
                <td width="30%">
                    <div style="text-align:right;padding-right:30px;">
                        <img src="{% static '/static/images/REIA_N_Logo.png' %}" alt="image" height="49pt" widht="150px;"/>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div id="footer_content" class="footer_body" >
        <table>
            <tr>
                <td>
                    <p style="padding-top:15px;padding-left:15px;"><font size="4"> &copy;2016 Datanet Techno Solutions Pvt Ltd.</font>
                        </p>
                </td>
                <td style="text-align:right;">
                    <p style="padding-top:20px;padding-right:15px;">
                        <font size="4">www.upwrdz.com</font></p>
                </td>
            </tr>
        </table>
    </div>

    <div style="padding:5px 5px 0px 5px; ">
        <table>
            <tr>
                <td>
                    <div class="profile_image">
                    {% if user.profile.picture %}
                        <img src="{{ user.profile.picture.url }}"  height="152" width="152" class="img-responsive"/>
                    {% else %}
                        <img src="/static/images/profile-pic-img.png" height="152" width="152"  class="img-responsive"/>
                    {% endif %}
                    </div>
                </td>
                <td Style="Padding:0px;font-size:14px;text-align:left;">
                    <p>
                        <span>{{user.profile.first_name}} {{user.profile.middile_name}} {{user.profile.last_name}}</span><br />
                        <span>{{ user.profile.mobile}}</span><br />
                        <span>{{user.profile.email}}</span><br />
                        {% if user.profile.designation %}
                        <span>{{ user.profile.designation}}</span><br />
                        {% endif %}
                        {% if user.profile.advisor.credibility_declaration_qualification %}
                        <span >{{user.profile.advisor.credibility_declaration_qualification}}</span>
                        {% endif %}
                    </p>
                </td>
                <td>
                </td>
                <td>
                    <table style="font-size:14px;">
                        {% if user.profile.advisor.practice_location %}
                            <tr>
                                <td>Location of Practice</td>
                                <td>{{user.profile.advisor.practice_location}}</td>
                            </tr>
                        {% endif %}
                        {% if user.profile.advisor.practice_city %}
                            <tr>
                                <td>City of Practice</td>
                                <td>{{user.profile.advisor.practice_city}}</td>
                            </tr>
                        {% endif %}
                        {% if user.profile.advisor.practice_country %}
                            <tr>
                                <td>Country of Practice</td>
                                <td>{{user.profile.advisor.practice_country}}</td>
                            </tr>
                        {% endif %}
                    </table>
                </td>
            </tr>
        </table>
        <div class="promise-tab" style="padding-left:10px;font-size:14px;">
            {% if user.profile.advisor.my_promise %}
            <label>My Promise:</label>
            <label>{{user.profile.advisor.my_promise}}</label>
            {% endif %}
        </div>
    </div>
            <!-- start personal information table -->
            <div  style="padding:7px;">
                <table  Style="padding:7px">
                    <tr>
                        <td>

                            <table border="1" style="color: white;">
                            <tr>
                            <td style="background-color:#e40b7d;font-size:14px;padding:3px;">Personal Details</td>
                            </tr>
                            </table>

                            <table border="1" Style="padding:2px" width="100%">
                                <tr>
                                    <td style="font-size:14px;">
                                        <table>
                                            <tr >
                                                <td >Father's Name</td>
                                                <td >{{user.profile.father_name}}</td>
                                            </tr>
                                            <tr >
                                                <td >Mother's Name</td>
                                                <td >{{user.profile.mother_name}}</td>
                                            </tr>
                                            <tr >
                                                <td >Date Of Birth</td>
                                                <td >{{user.profile.birthdate|date:'d-m-Y'}}</td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td style="font-size:14px;">
                                        <table>
                                            <tr >
                                                <td >Gender</td>
                                                <td >
                                                    {% if user.profile.gender == 'M' %}
                                                        <span> Male </span>
                                                    {% elif user.profile.gender == 'F' %}
                                                        <span> Female </span>
                                                    {% elif user.profile.gender == 'O' %}
                                                        <span> Others </span>
                                                    {% else %}
                                                        <span></span>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td >Marital Status</td>
                                                <td >
                                                    {% if user.profile.marital_status == 'M'%}
                                                        <span> Married </span>
                                                    {% elif user.profile.marital_status == 'U' %}
                                                        <span> Single </span>
                                                    {% else %}
                                                        <span></span>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            <tr >
                                                <td >Nationality</td>
                                                <td >
                                                    <span>{{ user.profile.nationality }}</span>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
            <!-- End personal information table -->

            <div style="padding:0px;">
            </div>

            <!-- start of Contact Particulars and Qualification Particulars table -->
            <div  style="padding:7px;">
                <table Style="padding:7px">
                    <tr>
                        <td>

                            <table border="1" style="color: white;">
                            <tr>
                            <td style="background-color:#e40b7d;padding:3px;font-size:14px;">Contact Details</td>
                            <td style="background-color:#e40b7d;padding:3px;font-size:14px;">Qualification Details</td>
                            </tr>
                            </table>

                            <table border="1" Style="padding:5px" width="100%">
                                <tr>
                                    <td style="font-size:14px;">
                                        <table>
                                            <tr>
                                                <td>Address</td>
                                                <td>{{user.profile.street_name}}, {{user.profile.address}}, {{user.profile.locality}}, {{user.profile.city}}, {{user.profile.state}}, {{user.profile.pincode}}</td>
                                            </tr>
                                            <tr>
                                                <td>Landmark</td>
                                                <td>{{user.profile.landmark}}</td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td style="font-size:14px;">
                                        <table>
                                            <tr>
                                                <td>Highest Qualification</td>
                                                <td >
                                                    {{user.profile.qualification}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Year of completion</td>
                                                <td >
                                                    {{user.profile.year_passout}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>University/Board</td>
                                                <td>
                                                    <span>{{ user.profile.college_name}}</span>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>

            <!-- End of Contact Particulars and Qualification Particulars table -->
            <div style="padding:0px;">
            </div>

            <!-- start of Self Declaration table -->
            {% if user.profile.advisor.sebi_number or user.profile.advisor.amfi_number or user.profile.advisor.irda_number or user.profile.advisor.other_registered_number %}

            <div  style="padding:7px;">
                <table Style="padding:7px">
                    <tr>
                        <td>
                            <table border="1" style="color: white;">
                            <tr>
                            <td style="background-color:#e40b7d;font-size=14px;padding:3px;">Self Declared Credibility Details</td>
                            </tr>
                            </table>

                            <table border="1" Style="padding:5px" width="100%">
                                <tr>
                                    <td>
                                        <table>
                                                <td ><span style="font-size:14px">Registered With</span></td>
                                                {% if user.profile.advisor.sebi_number %}
                                                <td>
                                                    <img src="/static/images/sbi-logo.png"><br />
                                                    <span style="font-size:14px;margin-bottom:2px;">{{user.profile.advisor.sebi_number}}</span><br />
                                                    <span style="font-size:14px;margin-bottom:2px;margin-top:2px;">{{ user.profile.advisor.sebi_expiry_date|date:'d-m-Y' }}</span>
                                                </td>
                                                {% endif %}
                                                {% if user.profile.advisor.amfi_number %}
                                                <td>
                                                    <img src="/static/images/amfi-logo.png"><br />
                                                    <span style="font-size:14px;margin-bottom:2px;">{{user.profile.advisor.amfi_number}}</span><br />
                                                    <span style="font-size:14px;margin-bottom:2px;margin-top:2px;">{{user.profile.advisor.amfi_expiry_date|date:'d-m-Y' }}</span>
                                                </td>
                                                {% endif %}
                                                {% if user.profile.advisor.irda_number %}
                                                <td>
                                                    <img src="/static/images/irda-logo.png"><br />
                                                    <span style="font-size:14px;margin-bottom:2px;">{{user.profile.advisor.irda_number}}</span><br />
                                                    <span style="font-size:14px;margin-bottom:2px;margin-top:2px;">{{user.profile.advisor.irda_expiry_date|date:'d-m-Y' }}</span>
                                                </td>
                                                {% endif %}
                                                {% if user.profile.advisor.other_registered_number %}
                                                <td>
                                                    <span>Others</span><br/>
                                                    <span style="font-size:14px;margin-bottom:2px;">{{user.profile.advisor.other_registered_organisation}}</span><br/>
                                                    <span style="font-size:14px;margin-bottom:2px;margin-top:2px;">{{user.profile.advisor.other_registered_number}}</span><br />
                                                    <span style="font-size:14px;margin-bottom:2px;margin-top:2px;">{{user.profile.advisor.other_expiry_date|date:'d-m-Y' }}</span>
                                                </td>
                                                {% endif %}
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
            {% endif %}
            <!-- End of Self Declaration Table -->

            <div style="padding:0px;">
            </div>

            <!-- Start of Rera Result-->
            {% if rera_result %}
            <div style="padding:7px;">
                <table Style="padding:7px">
                    <tr>
                        <td>

                            <table border="1" style="color: white;">
                            <tr>
                            <td style="background-color:#e40b7d;font-size:14px;padding:3px;">RERA Details</td>
                            </tr>
                            </table>

                            <table border="1" Style="padding:3px" width="100%">
                                {% for result in rera_result %}
                                <tr>
                                    <td style="font-size:14px;" >
                                        <table>
                                            <tr>
                                                <td>State</td>
                                                <td>{{result.rera_state}}</td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td style="font-size:14px;">
                                        <table>
                                            <tr>
                                                <td>Expire Date</td>
                                                {% if result.rera_expire_date %}
                                                <td>{{result.rera_expire_date}}</td>
                                                {% else %}
                                                <td>Null</td>
                                                {% endif %}
                                            </tr>
                                        </table>
                                    </td>
                                    <td style="font-size:14px;">
                                        <table>
                                            <tr>
                                                <td>Registration Number</td>
                                                <td>{{result.rera_registration_no}}</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
            {% endif %}
            <!-- Start of DSA Result-->
            {% if dsa_details %}
            <div style="padding:7px;">
                <table Style="padding:7px">
                    <tr>
                        <td>

                            <table border="1" style="color: white;">
                            <tr>
                            <td style="background-color:#e40b7d;font-size:14px;padding:3px;">DSA Details</td>
                            </tr>
                            </table>

                            <table border="1" Style="padding:3px" width="100%">
                                {% for result in dsa_details %}
                                <tr>
                                    <td style="font-size:14px;" >
                                        <table>
                                            <tr>
                                                <td>Bank</td>
                                                <td>{{result.dsa_bank_name}}</td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td style="font-size:14px;">
                                        <table>
                                            <tr>
                                                <td>DSA Code</td>
                                                <td>{{result.dsa_code}}</td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td style="font-size:14px;">
                                        <table>
                                            <tr>
                                                <td>Duration</td>
                                                <td>{{result.dsa_how_long_associated}}</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
            {% endif %}

            <!-- End of Rera Result-->
            <div style="padding:0px;">
            </div>
            <!-- Start of Practice location -->
            {% if  financial_instruments %}
            <div style="padding:7px;">
                {% if  financial_instruments|length > 2 %}
                <table Style="padding-top:46px">
                {% else %}
                <table Style="padding:7px">
                {% endif %}
                    <tr>
                        <td>
                            <table border="1" style="color: white;">
                            <tr>
                            {% if  financial_instruments %}
                            <td style="background-color:#e40b7d;padding:3px;font-size=14px;">Current Instruments Sold/Advised</td>
                            {% endif %}
                            </tr>
                            </table>

                            <table border="1" Style="padding:3px" width="100%">
                                <tr>
                                    <td>{% if  financial_instruments %}
                                        <table>
                                        <tr>
                                            <td style="font-size:14px"><b>Instruments</b></td>
                                            {% for financial_instruments in financial_instruments %}
                                                <td style="font-size:14px">{{financial_instruments.instruments}}</td>
                                            {% endfor %}
                                        </tr>
                                        <tr>
                                            <td style="font-size:14px"><b>Experience</b></td>
                                            {% for financial_instruments in financial_instruments %}
                                            <td style="font-size:14px">{{financial_instruments.experience}}-Years</td>
                                            {% endfor %}
                                        </tr>
                                        </table>
                                        {% endif %}
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
            {% endif %}

            <!-- End of Practice location -->
            <div style="padding:0px;">
            </div>

            <!-- Help us understand you better-->
            {% if user.profile.company_name or user.profile.designation or user.profile.annual_income or  user.profile.company_website  %}
            <div  style="padding:7px;">
                <table Style="padding:7px">
                    <tr>
                        <td>
                            <table border="1" style="color: white;">
                            <tr>
                            <td style="background-color:#e40b7d;font-size:14px;padding:3px;">Help us understand you better</td>
                            </tr>
                            </table>
                            <table border="1" Style="padding:5px" width="100%">
                                <tr>
                                    <td style = "font-size=14px">
                                        <table>
                                            <tr>
                                                <td>Name of your office</td>
                                                <td>{{user.profile.company_name}}</td>
                                            </tr>
                                                {% if user.profile.designation %}
                                                <tr>
                                                    <td>Your·Designation</td>
                                                    <td>{{user.profile.designation}}</td>
                                                </tr>
                                                {% endif %}

                                        </table>
                                    </td>
                                    <td style = "font-size=14px">
                                        <table>
                                            {% if user.profile.annual_income %}
                                            <tr>
                                                <td>Your annual income (in INR)</td>
                                                <td>{{user.profile.annual_income}}</td>
                                            </tr>
                                            {% endif %}
                                            {% if user.profile.company_website %}
                                            <tr>
                                                <td>Website URL of your office</td>
                                                <td>{{user.profile.company_website}}</td>
                                            </tr>
                                            {% endif %}
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
            <!-- End of Help us understand you better -->
            {% if user.profile.primary_communication == 'office'%}
            <div style="padding:0px;">
            </div>
            <!-- Office address-->
            <div  style="padding:7px;">
                <table Style="padding:7px">
                    <tr>
                        <td>
                            <table border="1" style="color: white;">
                            <tr>
                            <td style="background-color:#e40b7d;font-size:14px;padding:3px;">Office Address</td>
                            </tr>
                            </table>

                            <table border="1" Style="padding:5px" width="100%">
                                <tr>
                                    <td style = "font-size=14px">
                                        <table>
                                            <tr>
                                                <td > Address</td>
                                                <td>{{user.profile.company_address1}},{{ user.profile.company_address2 }},{{ user.profile.company_landmark }},{{ user.profile.company_locality }},</td>
                                            </tr>
                                            <tr>
                                                <td>Town / City</td>
                                                <td>{{user.profile.company_city}}</td>
                                            </tr>
                                            <tr>
                                                <td>State</td>
                                                <td>{{ user.profile.company_state }}</td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td style = "font-size=14px">
                                        <table>
                                        <tr>
                                            <td>Pin code</td>
                                            <td>{{user.profile.company_pincode}}</td>
                                        </tr>
                                        <tr>
                                            <td>Country</td>
                                            <td>{{user.profile.company_country}}</td>
                                        </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
            {% endif %}
            {% endif %}
    <!-- End of the Office address-->

           <div style="padding:0px;">
            </div>
            <!-- Language section-->
            <div  style="padding:7px;">
                <table Style="padding:7px">
                    <tr>
                        <td>
                            <table border="1" style="color: white;">
                            <tr>
                            <td style="background-color:#e40b7d;font-size:14px;padding:3px;">Known Languages</td>
                            </tr>
                            <table border="1" Style="padding:5px" width="100%">
                                <tr>
                                    <td>
                                        <table>
                                            <tr>
                                                <label style="font-size:14px;">Can speak: </label><span style="font-size:14px;">{{ user.profile.language_known }}</span><br />
                                                <label style="font-size:14px;">Can Read & Write: </label><span style="font-size:14px;">{{ user.profile.languages_known_read_write }}</span><br />
                                                <label style="font-size:14px;">Mother Tongue: </label><span style="font-size:14px;">{{user.profile.mother_tongue}}</span>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>

            <!-- End of Language section -->

            <!-- Additional Qualification -->
            {% if additional_qualification_list %}
            <div  style="padding:7px;">
                <table Style="padding:7px">
                    <tr>
                        <td>
                            <table border="1" style="color: white;">
                            <tr>
                            <td style="background-color:#e40b7d;font-size:14px;padding:3px;">Additional Qualification</td>
                            </tr>
                            </table>
                            <table border="1" Style="padding:5px" width="100%">
                                <tr>
                                    <th style="font-size:14px;">Additional_qualification</th>
                                    <th style="font-size:14px;">Year of completion</th>
                                    <th style="font-size:14px;">University</th>
                                </tr>
                                {% for aq in additional_qualification_list %}
                                    <tr>
                                        <td style="font-size:14px;">{{aq.additional_qualification}}</td>
                                        <td style="font-size:14px;">{{aq.year_passout}}</td>
                                        <td style="font-size:14px;">{{aq.university}}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
            {% endif %}
    <!-- End of the Office address-->
            <div style="padding:0px;">
            </div>
            <!-- Allow us to connect with you section-->
            {% if user.profile.facebook_media or user.profile.google_media or user.profile.linkedin_media or user.profile.twitter_media %}
            <div  style="padding:7px;">
                <table Style="padding:7px">
                    <tr>
                        <td>
                            <table border="1" style="color: white;">
                            <tr>
                            <td style="background-color:#e40b7d;padding:3px;font-size:14px">Allow us to connect with you
                            </tr>
                            </table>
                            <table border="1" Style="padding:5px 1px" width="100%">
                                <tr>
                                    <td style="font-size:13px;">
                                        <table>
                                            {% if user.profile.facebook_media %}
                                            <tr>
                                                <td>Your Facebook ID</td>
                                                <td style="text-align:left font-size:14px;">{{user.profile.facebook_media}}</td>
                                            </tr>
                                            {% endif %}
                                            {% if user.profile.google_media %}
                                            <tr>
                                                <td>Your Google+ ID</td>
                                                <td style="text-align:left font-size:14px;">{{user.profile.google_media}}</td>
                                            </tr>
                                            {% endif %}
                                        </table>
                                    </td>
                                    <td style="font-size:13px;">
                                        <table>
                                        {% if user.profile.linkedin_media %}
                                         <tr>
                                            <td>Your LinkedIn ID</td>
                                            <td>{{user.profile.linkedin_media}}</td>
                                        </tr>
                                        {% endif %}
                                        {% if user.profile.twitter_media %}
                                         <tr>
                                            <td>Your Twitter ID</td>
                                            <td>{{user.profile.twitter_media}}</td>
                                        </tr>
                                        {% endif %}
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
            {% endif %}

            <!-- End of Allow us to connect with you -->
            <div style="padding:0px;">
            </div>
            <!-- Step 3 - Business Information -->
            <div  style="padding:7px;">
                <table Style="padding:7px">
                    <tr>
                        <td>

                            <table border="1" style="color: white;">
                            <tr>
                            <td style="background-color:#e40b7d;padding:3px;font-size:14px;">Business Information</td>
                            </tr>
                            </table>

                            <table border="1" Style="padding:5px" width="100%">
                                <tr>
                                    <td style="font-size:14px;">
                                        <table>
                                            <tr>
                                                <td>Are you a Realtor? </td>
                                            </tr>
                                            <tr>
                                                <td>Year's of Business</td>
                                            </tr>
                                            <tr>
                                                <td>Total Number Of Clients</td>
                                            </tr>
                                            <tr>
                                                <td>Total Advisors connected</td>
                                            </tr>
                                            <tr>
                                                <td>Total Average Transaction Value</td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td style="font-size:14px;">
                                        <table>
                                            <tr>
                                                <td>
                                                    {% if business_information_json.0.Answer == 'yes'  %}
                                                        <span>Yes</span>
                                                    {% else %}
                                                        <span> No</span>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    {% if business_information_json.0.Remark.Question == Experience %}
                                                        <span>{{ business_information_json.0.Remark.0.Answer }}</span>
                                                    {% else %}
                                                        <span> Zero </span>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    {% if user.profile.advisor.total_clients_served %}
                                                        <span>{{ user.profile.advisor.total_clients_served }}</span>
                                                    {% else %}
                                                        <span> Zero </span>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    {% if user.profile.advisor.total_advisors_connected %}
                                                        <span>{{ user.profile.advisor.total_advisors_connected }}</span>
                                                    {% else %}
                                                        <span> Zero </span>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    {% if business_information_json.0.Remark.2.Question %}
                                                        <span>{{ business_information_json.0.Remark.2.Answer }}</span>
                                                    {% else %}
                                                        <span> Zero </span>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>

                            <table border="1" Style="padding:5px" width="100%">
                                <tr>
                                    <td style="font-size:14px;">
                                        <table>
                                            <tr>
                                                <td>Do you have an infrastructure or will you be able to create an infrastructure to handle the members</td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td style="font-size:14px;">
                                        <table>
                                            <td>
                                                <tr>
                                                <td>
                                                    {% if business_information_json.1.Answer == 'yes'  %}
                                                        <span>Yes</span>
                                                    {% else %}
                                                        <span> No </span>
                                                    {% endif %}
                                                </td>
                                                </tr>
                                            </td>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            <table border="1" Style="padding:5px" width="100%">
                                <tr>
                                    <td style="font-size:14px;">
                                        <table>
                                            <tr>
                                                <td>Will you be interested to undergo any training program about real estate investment advisory</td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td style="font-size:14px;">
                                        <table>
                                            <tr>
                                                <td>
                                                    {% if business_information_json.3.Answer == 'yes'  %}
                                                        <span>Yes</span>
                                                    {% else %}
                                                        <span> No</span>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            <table border="1" Style="padding:5px" width="100%">
                                <tr>
                                    <td style="font-size:14px;">
                                        <table>
                                            <tr>
                                                <td>Are you associated with any Financial Organisation?</td>
                                            </tr>
                                            {% if business_information_json.2.Answer == 'yes'  %}
                                            <tr>
                                                <td>Number Of Organisation</td>
                                            </tr>
                                            {% endif %}
                                        </table>
                                    </td>
                                    <td style="font-size:14px;">
                                        <table>
                                            <td>
                                                <tr>
                                                    <td>
                                                        {% if business_information_json.2.Answer == 'yes'  %}
                                                            <span>Yes</span>
                                                        {% else %}
                                                            <span> No </span>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                                {% if business_information_json.2.Answer == 'yes'  %}
                                                <tr>
                                                    <td>
                                                        {%  if  business_information_json.2.Remark.0.Question   %}
                                                            <span>{{  business_information_json.2.Remark.0.Answer }}</span>
                                                        {% else %}
                                                            <span> Zero </span>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                                {% endif %}
                                            </td>
                                        </table>
                                    </td>
                                </tr>
                            </table>


                        </td>
                    </tr>
                </table>
                {% if business_information_json.2.Answer == 'yes'  %}
                <div  style="padding:7px;">
                    <table Style="padding:7px">
                        <tr>
                            <td>
                                <table border="1" style="color: white;">
                                <tr>
                                <td style="background-color:#e40b7d;font-size:14px;padding:3px;">Financial Organisation</td>
                                </tr>
                                </table>
                                <table border="1" Style="padding:5px" width="100%">
                                    <tr>
                                        <th style="font-size:14px;">Organisation Name</th>
                                        <th style="font-size:14px;">Company Website URL</th>
                                        <th style="font-size:14px;">Email / Reg.Id</th>
                                        <th style="font-size:14px;">How Long Associated With ?</th>
                                    </tr>
                                    {% for aq in business_information_json.2.Remark.0.Remark %}
                                        {% if forloop.counter|divisibleby:4 != 0 %}
                                            <td style="font-size:14px;">{{ aq.Answer }}</td>
                                        </tr>
                                        {% elif forloop.counter == 1 or forloop.counter0|divisibleby:4 != 0 %}
                                            <tr>
                                            <td style="font-size:14px;">{{ aq.Answer }}</td>
                                        {% else %}
                                            <td style="font-size:14px;">{{ aq.Answer }}</td>
                                        {% endif %}
                                    {% endfor %}
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
                {% endif %}
            </div>
    <!-- End of Business Information-->
            <br /><!-- Step 3 - Document submitted -->
            {% if 'Photo ID Proof'  in user_documents_list or 'Passport'  in user_documents_list or 'Profile Picture'  in user_documents_list or 'Office Photo'  in user_documents_list  or  'Photo ID Proof'  in user_documents_list  or 'Address Proof'  in user_documents_list or 'Nationality Proof'   in user_documents_list or 'Appreciation Letter'  in user_documents_list or 'Reference Letter' in user_documents_list %}
            <div  style="padding:7px;">
                <table Style="padding:10px">
                    <tr>
                        <td>
                            <table border="1" style="color: white;">
                            <tr>
                            <td style="background-color:#e40b7d;padding:3px;font-size:14px;">Document submitted</td>
                            </tr>
                            </table>
                            <table border="1" Style="padding:5px" width="100%">
                                <tr>
                                    <td style="font-size:14px;">
                                        {% if user.profile.nationality|lower == "india" %}
                                        <table>
                                                {% if "Photo ID Proof" in user_documents_list  %}
                                                <tr>
                                                    <td>PAN Card</td>
                                                    <td>
                                                            <span>Attached</span>
                                                    </td>
                                                </tr>
                                                {% endif %}
                                        </table >
                                        {% else %}
                                        <table>
                                            {% if "Passport" in user_documents_list  %}
                                            <tr>
                                                <td>Passport</td>
                                                <td>
                                                        <span>Attached</span>
                                                </td>
                                            </tr>
                                            {% endif %}
                                        </table >
                                        {% endif %}
                                            <table>
                                            {% if 'Profile Picture' in user_documents_list  %}
                                            <tr>
                                                <td>Profile Picture</td>
                                                <td>
                                                        <span>Attached</span>
                                                </td>
                                            </tr>
                                            {% endif %}
                                            </table>
                                            <table>
                                            {% if 'Office Photo' in user_documents_list  %}
                                            <tr>
                                                <td>Office Photo</td>
                                                <td>
                                                        <span>Attached</span>
                                                </td>
                                            </tr>
                                            {% endif %}
                                            </table>
                                            <table>
                                            {% if 'Photo ID Proof' in user_documents_list  %}
                                            <tr>
                                                <td>Photo ID Proof</td>
                                                <td>
                                                        <span>Attached</span>
                                                </td>
                                                </tr>
                                            {% endif %}
                                            </table>
                                            <table>
                                            {% if 'Address Proof' in user_documents_list  %}
                                            <tr>
                                                <td>Address Proof</td>
                                                <td>
                                                        <span>Attached</span>
                                                </td>
                                            </tr>
                                            {% endif %}
                                            </table>
                                            <table>
                                            {% if 'Nationality Proof' in user_documents_list  %}
                                            <tr>
                                                <td>Nationality Proof</td>
                                                <td>
                                                        <span>Attached</span>
                                                </td>
                                            </tr>
                                            {% endif %}
                                            </table>
                                            <table>
                                            {% if 'Appreciation Letter' in user_documents_list  %}
                                            <tr>
                                                <td>Any appreciation letter from Investor</td>
                                                <td>
                                                        <span>Attached</span>
                                                </td>
                                            </tr>
                                            {% endif %}
                                            </table>
                                            <table>
                                            {% if 'Reference Letter' in user_documents_list  %}
                                            <tr>
                                                <td>Any Reference letter</td>
                                                <td>
                                                        <span>Attached</span>
                                                </td>
                                            </tr>
                                            {% endif %}
                                            </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
            {% endif %}
    <!-- End Step 3 - Document submitted-->
            <br />
</body>
</html>
