{% extends 'login.html' %}
{% load staticfiles %}

{% block custome_css %}
{{block.super}}
<link rel="stylesheet" href="{% static 'css/new_css/password.css' %}">
<style>
    body{
        padding-top: 120px;
        background-color: #e6e6e6;
    }
     #help_reset_recpatcha{
         color: red;
     }
     .abotmi-reset-passwordd-sidecontent ol{
         list-style-type: none;
     }
     .abotmi-reset-passwordd-sidecontent ol li{
         padding-bottom: 5px;
     }
     .abotmi-reset-passwordd-sidecontent{
         padding-top: 45px;
     }
     .contact-form, .pwd-panel{
         width: 100%;
     }
     .custome-group .pwd-add-on{
        border: 0;
        box-shadow: 0 0 0 0;
        border-top-right-radius: 6px !important;
        border-bottom-right-radius: 6px !important;
        cursor: pointer;
    }
    .reset-pass-visible{
        float: right;
        position: relative;     
        top: -48px;     
        right: 6px;
        background: #fff;
    }
    .reset-password-icon{
        display: inline;
        top: 50px;
        right: 10px;
    }
</style>
{% endblock %}
{% block main_content %}
<section class="grey-bg-color subpage-reia-primary-div">
	<div class="container upwrdz-reset-password">
        <div class="row">
            <div class="pwd-panel">
                <form name="reset_password_form" id="reset_password_form" class="contact-form" method="POST">
                    
                    {% csrf_token %}
                    <div class="pd-bt10  col-md-6 col-sm-6 col-xs-12 m-auto">
                        <div class="abotmi-reset-passwordd-change">
                            <div class="pd-bt10">
                                <h4 class="set-passw-text text-center">Reset Password</h4>
                            </div>
                            <div class="form-group control-group">
                                <div class="control">
                                    <input type="password" name="password_reset" id="password_reset" pwd-check="true"
                                        class="form-control" onkeyup="validate_field_onkeypress(id,'error_password', 'password_reset')" required="required" placeholder="New Password">
                                    <div class="custome-group">
                                        <span class="input-group-text pwd-add-on reset-pass-visible"><i
                                                class="fa fa-eye"></i></span>
                                    </div>
                                </div>
                                <a id="my_pop" style="display: none" class="help-tip hide reset-password-icon"
                                    rel="popover" data-popover-content="#myPopover"></a>
                                <div class="hide" id="myPopover">
                                    <p>Should contain at-least one uppercase, one lowercase alphabet, one numeric
                                        digits. Should contain at-least one special characters, such as @, #, $. Should
                                        not contain a blank space</p>
                                </div>
                                <span class="help-block" id="res_error_password"></span>
                            </div>

                            <div class="form-group control-group">
                                <div class="control">
                                    <input type="password" name="password_reset_confirm" id="password_reset_confirm"
                                        class="form-control" required="required" placeholder="Confirm Password">
                                </div>
                                <span class="help-block"></span>
                            </div>

                            <div class="form-group control-group">
                                <div class="control">
                                    <div id="Recaptcha_forgot_password_button" name="Recaptcha_forgot_password_button"
                                        class="recaptcha1 form-group" tabindex="2"></div>
                                </div>
                                <span class="help-block" id="help_reset_recpatcha"></span>
                            </div>
                            <div class="form-group control-group">
                                <button type="button" id="submit_reset_password"
                                    class="btn btn-default pwd-btn submit-btn">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
	</div>
</section>
<div class="modal fade upwardz-modal password-modal" id="password_acknw_alert" role="dialog" name="forgot_password_alert" aria-hidden="true" data-keyboard="false" data-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="panel upwrdz-log-panel panel-default">
                <div class="panel-body pannel-popup-content" id="password_acknw_body";>
                    <div class="text-center" id="forgot_passw_alert_content">
                        <div class="row pt-5 pb-5 mt-2 mb-2">
                            <div class="col-md-12 passw-text text-center">
                                <h2 style="font-weight: 600;">Password Changed </h2>
                            </div>
                            <div class="col-md-12 text-center mt-4 mb-4">
                                <img class="" alt="emailpng" style="width: 60px;height: 60px;" src="/static/new_images/passwordchanged.png">
                            </div>
                            <p class="text-center mb-2" style="width:100%;">
                                <a id="dynamic_link" class="hide"><u></u></a>
                                <a name="login_a" id="login_link" class="text-center"><u> Click here to continue </u></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="subpage-reia-primary"></section>
{% endblock %}
{% block scripts %}
  {{block.super}}
  <script src="{% static 'js/jquery.validate.min.js' %}"></script>
  <script src="{% static 'js/validate.js' %}"></script>
  <script src="{% static 'js/WearProtection.js' %}"></script>
  <script>
    $(window).load(function(){
        load_forgot_pwd_recaptcha();
    });
    var submit_btn = $("#submit_reset_password");
    var pwd_type = '{{pwd_type|default:""}}'
    submit_btn.on('click', function(e){
        if($("#reset_password_form").valid()
            && validate_recptcha(forgot_password_recaptcha, 'help_reset_recpatcha')){
                var password = $('#password_reset').val()
                $.ajax({
                    method: 'POST',
                    url: '/signup/recheck/',
                    beforeSend: function(request){
                        request.setRequestHeader('X-CSRFToken', token)
                    },
                    data:{
                        password_reset: password,
                        pwd_type: pwd_type
                    },
                    success: function(response){
                        if(response == 'success'){
                            if(pwd_type == 'signup'){
                                $("#login_link").addClass('hide');
                                $("#dynamic_link")
                                    .removeAttr('name')
                                    .removeClass('hide')
                                    .find('u')
                                    .html('Click here to start your registration process!')
                                    .attr('onclick', 'window.location.href="/"');
                            }else{
                                $("#login_link").removeClass('hide');
                                $("#dynamic_link").addClass('hide');
                            }
                            $('#password_acknw_alert').modal({
                                show:true,
                                keyboard:false,
                                backdrop:'static'
                            });
                        }
                    },
                     error: function(response){
                        alert("Unable to process your request. \n Please try after some time.")
                    }
                });
        }
    });
</script>
<script>
    // show/hide the password
    $('.pwd-add-on').on('click', function (e) {
        var icon;
        if ($("#password_reset").attr('type') == 'password') {
            icon = '<i class="fa fa-eye-slash"></i>';
            $('#password_reset').attr('type', 'text');
        } else {
            icon = '<i class="fa fa-eye"></i>';
            $('#password_reset').attr('type', 'password');
        }
        $(this).html(icon);
    });

    //Written jquery for hiding and showing the instruction block when user entered invalid password
    $("#password_reset").keypress(function(){
        is_password = validate_field_onkeypress('password_reset', 'res_error_password', 'Password');
        if (is_password != 0){
            document.getElementById("my_pop").style.display = "inline";
        }else{
            document.getElementById("my_pop").style.display = "none";
        }
    });
</script>
{% endblock %}
