{% extends 'index.html' %}
{% load staticfiles %}
{% block important_css %}
<link rel="stylesheet" type="text/css" href="/static/css/validate.css">
<style type="text/css">
    .submit-btn{
      padding: 5px 25px;
      background-color: #0f8665 !important;
      border-radius: 4px;
      border-color: #0f8665 ;
    }
    .submit-btn:hover{
      background-color: #0f8665 !important;
      border-color: #0f8665 ;
    }
    .n-padding-13{
        padding: 13px;
    }
    .nav.navbar.shrink{
        position: relative;
    }
    .footer-reset{
        position: absolute;
        bottom: 0;
        width: 100%;
    }
</style>
{% endblock %}
{% block top_header %}
<div class="col-md-12 col-sm-12 col-xs-12 social-icons n-padding-13">
    <ul class="pull-right">
        <li></li>
        <li></li>
    </ul>
</div>
<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
    <div>
        <a class="navbar-brand">
            <img class="img-responsive riea-logo-1" alt="Brand" id="myImg" src="/static/images/LogoW.png" alt="Logo" style="margin-top: -25px !important;">
            <img class="img-responsive riea-logo-2" alt="Brand" id="myImg1" src="/static/images/LogoY.png" alt="Logo" style="margin-top: -25px !important;">
        </a>
    </div>
</div>
{% endblock %}
{% block top_menu_bar %}
<div class="collapse navbar-collapse custome-nav" id="defaultNavbar2">
    <ul class="nav navbar-nav navbar-right reia-main-menu-nav">
        <li></li>
    </ul>
</div>
<!-- /.navbar-collapse -->
{% endblock %}
{% block slider %}
{% endblock %}
{% block main_content %}
<section class="subpage-reia-primary"></section>
<section class="subpage-reia-primary container_body n-margin-tb-30">
    <div class="container">
        <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
            <form  name="set_password_form" id="set_password_form" class="contact-form form-signin"  method="POST">
                {% csrf_token %}
                <h4 class="n-h4-black n-padding-13 text-center">Set Your Password</h2>
                <div class="form-group control-group">
                    <div class="control">
                        <input type="password" name="password_set" id="password_set" class="form-control" required="required" placeholder="New Password">
                    </div>
                    <span class="help-block"></span>
                </div>
                <div class="form-group control-group">
                    <div class="control">
                        <input type="password" name="password_set_confirm" id="password_set_confirm" class="form-control" required="required" placeholder="Confirm Password">
                    </div>
                    <span class="help-block"></span>
                </div>
                <button type="button" class="btn btn-primary submit-btn" id="submit" required="required" onClick="save_password();">Submit</button>
            </form>
        </div>
        <div class="col-md-6 col-md-offset-2 password-contnet">
            <p>
                Password is to prove identity to gain access to your account. Kindly keep confidential.
            </p>
            <p>Your password should:</p>
            <ul>
                <li>Have minimum 8 characters.</li>
                <li>Should contain at-least one uppercase, one lowercase alphabet, one numeric digits.</li>
                <li>Should contain at-least one special characters, such as @, #, $</li>
                <li>Should not contain a blank space</li>
            </ul>
        </div>
    </div>
    <div id="set-password-response-modal-section">
        <!-- Set password Modal HTML Starts -->
        <div id="set-password-response-modal" name="set-password-response-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="set-password-response-modal-lable" aria-hidden="true">
            <div class="modal-dialog">
                <div class="panel panel-default popup-panel">
                    <div class="panel-heading dash-heading">
                        <h4 class="modal-title" id="set-password-response-modal-label">
                            Set password
                        </h4>
                    </div>
                    <div class="panel-body pannel-popup-content" id="set-password-response-modal-body">
                        <p>Your account has been created successfully! Please Login.</p>
                        <button type="button" class="btn btn-primary popup-btn pull-right" data-dismiss="modal" onClick="window.location = '/';">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Set password Modal HTML Ends -->
    </div>
</section>
<section class="subpage-reia-primary"></section>
{% endblock %}
{% block footer %}
<footer id="bottom" class="footer-main footer-reset">
    <div class="container n-padding-15">
    </div>
</footer>
{% endblock %}
{% block copy_rights %}
{% endblock %}
{% block scripts %}
  <script src="{% static 'js/jquery.leanModal.min_.js' %}"></script>
  <script src="{% static 'js/jquery.validate.min.js' %}"></script>
  <script src="{% static 'js/additional-methods.min.js' %}"></script>
  <script src="{% static 'js/validate.js' %}"></script>
  <script src="{% static 'js/WearProtection.js' %}"></script>
<script type="text/javascript">
    function save_password() {
      password_set = document.getElementById("password_set").value;
      var token = "{{csrf_token}}";
      if($("#set_password_form").valid()){
        $.ajax({
            type: 'POST',
            url: '/signup/setpassword/',
            beforeSend: function (request) {
                request.setRequestHeader("X-CSRFToken", token );
            },
            data: {password_set : password_set},
            success: function(response){
              if(response == 'success'){
                $('#set-password-response-modal').modal('show');
              }
            },
            error:function(response){
            },
        });
      }
    }
</script>
{% endblock %}
{% block theme_scripts %}
    <script type="text/javascript">
        $(window).scroll(function() {
            $('nav').css('position','fixed');
        });
        function shrink_header(){
            $('nav').addClass('shrink');
            $("#about").addClass('n-margin-top-100');
            $(".riea-logo-1").addClass('img_shrink');
            $(".social-icons").addClass('width-93');
        }
        $(document).ready(function(){
            shrink_header();
        });
    </script>
{% endblock %}
