 <ion-view>
   <ion-content class="m-upwrdz-form-content">
      <div class="editpage-title-bar">
        <img src="../www/img/back_arrow_25px.png" class="back-btn" alt="back arrow" ui-sref="app.editprofilebasic">
        <button ng-disabled="registration_form3.$invalid|| reg.user_details.answer[0].Answer == null || reg.user_details.answer[1].Answer == null
        || reg.user_details.answer[2].Answer == null || reg.user_details.answer[3].Answer == null" class="skip-fwd" ui-sref="app.footprint({'confirm':reg.user_details.confirmed})">SKIP >></button>
        <p class="form-step-text">Step 4 - Business Information</p>
      </div>
      <div class="logincenterdiv" ng-init="reg.user_details.answer[2].Remark[0].Remark =[]" >
         <form name="registration_form3" class="registration-steps-logincenterdiv" novalidate ng-submit="reg.editprofile3();">
           <div class="list">
             <label for="ex3">{{reg.user_details.answer[0].Question}} <span style="color:red">*</span></label>
             <div class="row">
               <div class="col col-50">
                 <ion-radio class="radio radio-inline" ng-model="reg.user_details.answer[0].Answer" name="realtor" ng-value="'yes'">Yes</ion-radio>
               </div>
               <div class="col">
                 <ion-radio class="radio radio-inline" ng-click="reg.answerclear()"
                   ng-model="reg.user_details.answer[0].Answer" name="realtor" ng-value="'no'">No</ion-radio>
               </div>
             </div>
           </div>

           <div ng-show="reg.user_details.answer[0].Answer == 'yes'">
              <div class="item item-input item-label">
                <input type="text" allow-only-numbers ng-model="reg.user_details.answer[0].Remark[0].Answer"
                ng-pattern="/^[0-9]*$/" placeholder ="Year of Business" name ="year_of_business"
                ng-required ="reg.user_details.answer[0].Answer == 'yes'"/>
              </div>
              <span class="validationerrors"  ng-if="registration_form3.year_of_business.$error.required && registration_form3.year_of_business.$touched">* required</span>
              <span class="validationerrors" ng-if="registration_form3.year_of_business.$error.min || registration_form3.year_of_business.$error.max">
              The value must be in range 1 to 99</span>
              <span class="validationerrors" ng-if="registration_form3.year_of_business.$error.number"> Not valid number!</span>
              <span class="validationerrors"  ng-if="registration_form3.year_of_business.$error.pattern">* Enter valid input</span>

              <div class ="item item-input item-label">
                  <input type= "number" ng-model="reg.user_details.answer[0].Remark[1].Answer" placeholder="Total clients"
                  name ="total_clients" ng-pattern="/^[0-9]*$/" ng-required="reg.user_details.answer[0].Answer == 'yes'"/>
              </div>
                  <span class="validationerrors"  ng-if="registration_form3.total_clients.$error.required && registration_form3.total_clients.$touched">* required</span>
                  <span class="validationerrors"  ng-if="registration_form3.total_clients.$error.pattern">* Enter valid input</span>

              <div class ="item item-input item-label">
                    <input type="number" ng-model="reg.user_details.answer[0].Remark[3].Answer" ng-pattern="/^[0-9]*$/"
                    placeholder="Total Advisor"name ="total_advisor"ng-required="reg.user_details.answer[0].Answer == 'yes'"/>
              </div>
                  <span class="validationerrors"  ng-if="registration_form3.total_advisor.$error.required && registration_form3.total_advisor.$touched">* required</span>
                  <span class="validationerrors"  ng-if="registration_form3.total_advisor.$error.pattern">* Enter valid input</span>
             <div class ="">
                <select class="edit-selection-dropdown edit-selection" ng-model="reg.user_details.answer[0].Remark[2].Answer" name="transcation" ng-required="reg.user_details.answer[0].Answer =='yes'">
                    <option value=""> Select </option>
                    <option value="Below 50000">Below $50,000</option>
                    <option value="Above 50000 and Below 1000000" >Above $50,000 and Below $1,000,000</option>
                    <option value="Above 1000000">Above $1,000,000</option>
                </select>
                <span class="validationerrors"  ng-if="registration_form3.transcation.$error.required && registration_form3.transcation.$touched">* required</span>
            </div>
          </div><br/>

           <div class="list">
             <label for="ex3">{{reg.user_details.answer[1].Question}} <span style="color:red">*</span></label>
             <div class="row">
               <div class="col col-50">
                 <ion-radio class="radio radio-inline" ng-model="reg.user_details.answer[1].Answer" name="infrasturure" ng-value="'yes'">Yes</ion-radio>
               </div>
               <div class="col">
                 <ion-radio class="radio radio-inline" ng-model="reg.user_details.answer[1].Answer" name="infrasturure" ng-value="'no'">No</ion-radio>
               </div>
             </div>
           </div>
           <div ng-show="reg.user_details.answer[1].Answer == 'yes'">
              <div class ="list">
                  <textarea class="form-textarea" type='text' ng-required="reg.user_details.answer[1].Answer == 'yes'" placeholder="Office Address" ng-model="reg.user_details.answer[1].Remark" rows="4"  cols="50"></textarea>
              </div>
           </div><br/>

           <div class ="list">
              <label  for="ex3">{{reg.user_details.answer[2].Question}} <span style="color:red">*</span></label>
              <div class="row">
                    <div class="col col-50">
                        <ion-radio class="radio radio-inline" ng-model ="reg.user_details.answer[2].Answer" name="financialOrganization" ng-click="reg.finances_org_yes();" ng-value="'yes'">Yes</ion-radio> 
                    </div>
                    <div class="col">
                        <ion-radio class="radio radio-inline" ng-model ="reg.user_details.answer[2].Answer" name="financialOrganization" ng-click="reg.finances_org_no();" ng-value="'no'">No</ion-radio> 
                    </div>
                </div>
           </div>
           <div ng-show ="reg.user_details.answer[2].Answer == 'yes'">
                   <div >
                      <label class="item item-input">
                          <input type="text" placeholder="Institution Name" ng-model="reg.user_details.answer[2].Remark[0].Remark[0].Answer" name="institution_name" ng-required>
                      </label>
                      <span class="validationerrors" ng-if="registration_form3.institution_name.$error.required">* Institution name required</span>
                      <br>
                   </div>
                  <div >
                     <label class="item item-input">
                       <input type="email" placeholder="Official Email/Registration id" ng-model="reg.user_details.answer[2].Remark[0].Remark[2].Answer" name="official_email_id" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" ng-required="reg.user_details.answer[2].Answer == 'yes'">
                     </label>
                     <span class="validationerrors" ng-if="registration_form3.official_email_id.$error.pattern">* please enter valid email</span>
                     <br>
                 </div>

                   <div >
                     <label class="item item-input">
                       <input type="text" placeholder="Company URL" ng-model="reg.user_details.answer[2].Remark[0].Remark[1].Answer" name="registration_id" ng-blur="reg.append(data.Answer,$index)" ng-pattern="/^(https?:\/\/)?(www\.)?[a-zA-Z0-9]+\.[a-zA-Z]{2,}$/" ng-required="reg.user_details.answer[2].Answer == 'yes'">
                     </label>
                     <span class="validationerrors" ng-if="registration_form3.registration_id.$error.pattern">* please enter valid URL</span>
                     <br>
                 </div>
                 <div >
                    <label class="item item-input">
                      <input type="text" placeholder="Year of association" min='1' max="99" ng-pattern="/^[0-9]*$/" ng-model="reg.user_details.answer[2].Remark[0].Remark[3].Answer" name="year_of_association" ng-required>
                    </label>
                    <span class="validationerrors" ng-if="registration_form3.year_of_association.$error.required">* please enter year of association</span>
                    <span class="validationerrors" ng-if="registration_form3.year_of_association.$error.min || registration_form3.year_of_association.$error.max">
                    The value must be in range 1 to 99</span>
                    <span class="validationerrors" ng-if="registration_form3.year_of_association.$error.number"> Not valid number!</span>
                    <span class="validationerrors"  ng-if="registration_form3.year_of_association.$error.pattern">* Enter valid input</span>
                    <br>
                </div>
                <!-- commented for tempervery next relese may required -->
                <!-- <div class="row">
                  <div class="col col-20">
                   <input class="form-btn" type="button" value ="Add" ng-disabled="reg.disable_add" ng-click="reg.addinstituite(reg.user_details.answer[2].Remark[0].Remark);">
                 </div>
                 <div class="col">
                     <input class="form-btn" type="button" value ="Delete" ng-disabled="!reg.disable_add"  ng-click="reg.delete(reg.user_details.answer[2].Remark[0].Remark,$index)">
                 </div>
               </div>
             -->
           </div><br>
           <div class ="list">
             <label  for="ex3">{{reg.user_details.answer[3].Question}} <span style="color:red">*</span></label>
             <div class="row">
                  <div class="col col-50">
                      <ion-radio class="radio radio-inline" ng-model="reg.user_details.answer[3].Answer" name="trainingprogram" ng-value="'yes'">Yes</ion-radio>
                  </div>
                  <div class="col">
                      <ion-radio class="radio radio-inline" ng-model="reg.user_details.answer[3].Answer" name="trainingprogram" ng-value="'no'">No</ion-radio>
                  </div>
              </div>
                <span class="validationerrors" ng-if="reg.user_details.answer[3].Answer == 'no'">
                  It is mandatory to advise a specialized products that every one should go through training program conducted by The Digital Assets Academy
                </span>
           </div>
           <button type="submit" class="full-button m-upwrdz-full-btn m-upwrdz-full-btn-bottom"
           ng-disabled="registration_form3.$invalid|| reg.user_details.answer[0].Answer == null || reg.user_details.answer[1].Answer == null
           || reg.user_details.answer[2].Answer == null || reg.user_details.answer[3].Answer == null" >SUBMIT</button>
        </form>
      </div>
  </ion-content>
</ion-view>
