{% extends 'login.html' %}
{% load staticfiles %}
{% block custome_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'V2_theme/css/inner_page.css' %}">
{% endblock %}
{% block main_content %}
    <!-- Header -->
    <header class="abotmi-abotu-whyus-section">
        <div class="container">
            <div class="row abotmi-inner-banner align-items-center mt-5 pt-5">
                <div class="col-md-12 col-sm-12 col-xs-12 text-center pt-5 pb-3">
                    <h3>About us</h3>
                    <p><b>Become Educated Before Choosing an Opportunity</b></p>
                </div>
                
            </div>
        </div>
    </header>
    
    <!-- Page Content -->
    <section class="abotmi-about-section pt-5 pb-5" style="background: #f3f8fc;">
        <div class="container advisor-section-cards-finacial">
            <div class="row align-items-center">
                <h4 class="text-center pt-3 pb-5">The purpose that drives us is <span style="color:#f15132">“Investor Protection”</span></h4>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="text-left">
                        <h4 class="alert-link">Our Vision</h4>
                    </div>
                    <div class="about-content">
                        <p>To be a leader as the most reliable and trusted <br/>digital asset protection platform globally.</p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <img src="{% static 'V2_theme/images/aboutus/image-1-min.jpg' %}" class="img-fluid"/>
                </div>
            </div>
        </div>
    </section>

    <section class="abotmi-about-section pt-5 pb-5">
        <div class="container advisor-section-cards-finacial">
            <div class="row align-items-center">
                <div class="col-md-6 col-sm-12 col-xs-12 abotmi-desktop-view">
                    <img src="{% static 'V2_theme/images/aboutus/image-2-min.jpg' %}" class="img-fluid"/>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12 pl-md-5 pl-sm-5">
                    <div class="text-left">
                        <h4 class="alert-link">Our Promise</h4>
                    </div>
                    <div class="about-content">
                        <p>To connect you with the most reliable and trustworthy digital asset advisors across the globe. They will help guide you about digital assets and wealth creation. Simply connect with us through an email and social media as we promise to deliver the finest digital asset advisors to you.</p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12 abotmi-mobile-view">
                    <img src="{% static 'V2_theme/images/aboutus/image-2-min.jpg' %}" class="img-fluid"/>
                </div>
            </div>
        </div>
    </section>

    <section class="abotmi-about-section pt-2 pb-5">
        <div class="container advisor-section-cards-finacial" >
            <h2 class="text-center pb-5">Our Values</h2>
            <div class="row align-items-center abotmi-row-section" style="background: #f3f8fc;">
                <div class="col-md-6 col-sm-12 col-xs-12 pl-md-5 pl-sm-5 text-center">
                    <div class="mb-2">
                        <h5 class="alert-link mb-2">Professional Development</h5>
                        <img src="{% static 'V2_theme/images/divider-line.png' %}"/>
                    </div>
                    <div class="about-content">
                        <p>is achieved through consistent training, education, and learning from customer feedback.</p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12 pl-0 pr-0">
                    <img src="{% static 'V2_theme/images/aboutus/image-3-min.jpg' %}" class="img-fluid"/>
                </div>
            </div>
            <div class="row align-items-center abotmi-row-section" style="background: #f3f8fc;">
                <div class="col-md-6 col-sm-12 col-xs-12 pl-0 pr-0 abotmi-desktop-view">
                        <img src="{% static 'V2_theme/images/aboutus/image-4-min.jpg' %}" class="img-fluid"/>
                    </div>
                <div class="col-md-6 col-sm-12 col-xs-12 pl-md-5 pl-sm-5 text-center">
                    <div class="mb-2">
                        <h5 class="alert-link mb-2">Leadership</h5>
                        <img src="{% static 'V2_theme/images/divider-line.png' %}"/>
                    </div>
                    <div class="about-content">
                        <p>is about creating a positive environment, building a strong team, and inspiring others to achieve the long-term vision.</p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12 pl-0 pr-0 abotmi-mobile-view">
                    <img src="{% static 'V2_theme/images/aboutus/image-4-min.jpg' %}" class="img-fluid"/>
                </div>
                    
            </div>
            <div class="row align-items-center abotmi-row-section" style="background: #f3f8fc;">
                <div class="col-md-6 col-sm-12 col-xs-12 pl-md-5 pl-sm-5 text-center">
                    <div class="mb-2">
                        <h5 class="alert-link mb-2">Full Disclosure</h5>
                        <img src="{% static 'V2_theme/images/divider-line.png' %}"/>
                    </div>
                    <div class="about-content">
                        <p>all of the content regarding the product, risks, and legal framework are explicitly shared to all the investors and advisors on the platform.</p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12 pl-0 pr-0">
                    <img src="{% static 'V2_theme/images/aboutus/image-5-min.jpg' %}" class="img-fluid"/>
                </div>
            </div>
        </div>
    </section>

    <section class="abotmi-about-section pt-5 pb-5">
        <div class="container advisor-section-cards-finacial" >
            <div class="row align-items-center abotmi-row-section" style="background: #f3f8fc;">
                <div class="col-md-6 col-sm-12 col-xs-12 pl-0 pr-0 abotmi-desktop-view">
                    <img src="{% static 'V2_theme/images/aboutus/image-6-min.jpg' %}" class="img-fluid"/>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12 pl-md-5 pl-sm-5 text-center">
                    <div class="mb-2">
                        <h5 class="alert-link mb-2">Respect/Integrity</h5>
                        <img src="{% static 'V2_theme/images/divider-line.png' %}"/>
                    </div>
                    <div class="about-content">
                        <p>to all the participants of the ecosystem we promise to show integrity, transparency, and be supportive at all times.</p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12 pl-0 pr-0 abotmi-mobile-view">
                    <img src="{% static 'V2_theme/images/aboutus/image-6-min.jpg' %}" class="img-fluid"/>
                </div>
            </div>
            <div class="row align-items-center abotmi-row-section" style="background: #f3f8fc;">
                
                <div class="col-md-6 col-sm-12 col-xs-12 pl-md-5 pl-sm-5 text-center">
                    <div class="mb-2">
                        <h5 class="alert-link mb-2">Code of Conduct </h5>
                        <img src="{% static 'V2_theme/images/divider-line.png' %}"/>
                    </div>
                    <div class="about-content">
                        <p>it’s vital to always follow our code of conduct that emphasizes our mission, values and principles towards ABOTMI.</p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12 pl-0 pr-0">
                    <img src="{% static 'V2_theme/images/aboutus/image-7-min.jpg' %}" class="img-fluid"/>
                </div>
            </div>
            <div class="row align-items-center abotmi-row-section" style="background: #f3f8fc;">
                <div class="col-md-6 col-sm-12 col-xs-12 pl-0 pr-0 abotmi-desktop-view">
                    <img src="{% static 'V2_theme/images/aboutus/image-8-min.jpg' %}" class="img-fluid"/>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12 pl-md-5 pl-sm-5 text-center">
                    <div class="mb-2">
                        <h5 class="alert-link mb-2">Professional Delivery</h5>
                        <img src="{% static 'V2_theme/images/divider-line.png' %}"/>
                    </div>
                    <div class="about-content">
                        <p>we promise to promote our highest standards of ethics, education and professional excellence to all of the users on-board.</p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12 pl-0 pr-0 abotmi-mobile-view">
                    <img src="{% static 'V2_theme/images/aboutus/image-8-min.jpg' %}" class="img-fluid"/>
                </div>
            </div>
        </div>
    </section>
    <section class="abotmi-about-section pt-0 pb-5">
        <div class="container advisor-section-cards-finacial" >
            <h2 class="text-center">Our Belief</h2>
            <h6 class="text-center pb-5">We believe in shaping the future, rather than just solving the problems of the past.</h6>
            <div class="row mb-4">
                <div class="col-md-6 col-sm-12 col-xs-12 text-left">
                    <div class="mb-2">
                        <img src="{% static 'V2_theme/images/aboutus/1.png' %}" class="img-fluid"/>
                    </div>
                    <div class="about-content"> 
                        <p>Solving the problems of the past will only treat the symptoms instead of the cause. This resolves only the existing issues. We have the capability to disrupt the whole ecosystem by using our purpose as a driving force of the future.</p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12 text-left">
                    <div class="mb-2">
                        <img src="{% static 'V2_theme/images/aboutus/2.png' %}" class="img-fluid"/>
                    </div>
                    <div class="about-content">
                        <p>Solving previous issues is only addressing the existing consumer, but shaping the future is about building and adding the new consumer permanently.</p>
                    </div>
                </div>
            </div>
            <div class="row align-items-center mb-5">
                <div class="col-md-6 col-sm-12 col-xs-12 text-left">
                    <div class="mb-2">
                        <img src="{% static 'V2_theme/images/aboutus/3.png' %}" class="img-fluid"/>
                    </div>
                    <div class="about-content">
                        <p>We have figured out how to craft the ecosystem in order to create a new product itself. Instead of
                                solving the existing problems that can only temporarily fix the product or service.</p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12 text-left">
                    <div class="mb-2">
                        <img src="{% static 'V2_theme/images/aboutus/4.png' %}" class="img-fluid"/>
                    </div>
                    <div class="about-content">
                        <p>Individuals have a habit to lean on others as their benchmark for advice in order to solve problems that arise. Although, if we want to change the future we need to become the benchmark for everyone.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    

    

    {% if not user.is_authenticated %}
    <section class="abotmi-advisor-section-div mt-5">
        <div class="container advisor-section-cards-finacial abotmi-advisor-section">
            <div class="row align-items-center advisor-section-div advisor-inner-section-div">
                <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                    <a class="btn" name="signup_a">Register Now</a>
                    <h3>Start Building Your Reputation</h3>
                </div>
            </div>
        </div>
    </section>
    {% endif %}
{% endblock %}
{% block scripts %}
    {{block.super}}
{% endblock %}
