{% extends 'index_base.html' %}
{% load staticfiles %}
{% block custome_css %}
   <link rel="stylesheet" href="{% static 'css/new_css/password.css' %}">
   <link href="{% static 'css/toggle_switch.css' %}" rel="stylesheet">
{% endblock custome_css %}
{% block main_content %}
<section class="mt-5 pt-5">
	<div class="container upwrdz-reset-password mt-5">
        <div class="row">
            <div class="col-12">
                <div class="text-center reset-heading">
                    <h4>Change Password & Manage Notifications</h4>
                </div>
            </div>
            <div class="pwd-panel">
                <form name="changepassword_form" id="changepassword_form" novalidate="novalidate">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6 col-12">
                            <div class="abotmi-reset-passwordd-change">
                                <div class="pd-bt10">
                                    <h4 class="set-passw-text text-left">Set Password</h4>
                                </div>
                                <div class="form-group control-group">
                                    <div class="control">
                                        <input type="password" autocomplete="off" name="oldpassword" id="oldpassword" class="form-control input" placeholder="Old Password" tabindex="1" required="required">
                                    </div>
                                    <div class="custome-group">
                                        <span class="input-group-text old-pwd-on reset-pass-visible"><i
                                                class="fa fa-eye"></i></span>
                                    </div>
                                    <span class="help-block"></span>
                                </div>
                            
                                <div class="form-group control-group">
                                    <div class="control">
                                        <input type="password" autocomplete="off" name="newpassword" id="newpassword" class="form-control input" placeholder="New Password" tabindex="2" required="required"  >
                                    </div>
                                    <div class="custome-group">
                                        <span class="input-group-text change-pwd-on reset-pass-visible"><i
                                                class="fa fa-eye"></i></span>
                                    </div>
                                    <span class="help-block"></span>
                                </div>
                        
                                <div class="form-group control-group">
                                    <div class="control">
                                        <input type="password" autocomplete="off" name="confirmpassword" id="confirmpassword" class="form-control input" placeholder="Confirm New Password" tabindex="3" required="required" >
                                    </div>
                                    <span class="help-block"></span>
                                </div>
                                <div class="form-group control-group">
                                    <button type="button" id="submit_change_passw" class="btn btn-default pwd-btn submit-btn">Submit</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="row">
                                <div class="col-12 reset-heading">
                                    <h6>Password is to prove identity to gain access to your account. Kindly keep it confidential.</h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 password-contnet">
                                    <p class="password-contnet-p2">Your password should:</p>
                                    <ol class="pd-lt15">
                                        <li>Have minimum 8 characters.</li>
                                        <li>Should contain at-least one uppercase, one lowercase alphabet, one numeric digits.</li>
                                        <li>Should contain at-least one special characters, such as @, #, $</li>
                                        <li>Should not contain a blank space</li>
                                    </ol>
                                </div>
                            </div>
                            {% if user_profile.is_advisor %}
                                <div class="row pwd-panel">
                                    <div class="pd-bt10">
                                        <h4 class="set-passw-text">Alerts</h4>
                                    </div>
                                    <div class="row password-contnet">
                                        <div class="col-sm-12">
                                            <div class="row">
                                                <div class="col-5">
                                                    <span for="flip-1">My Identity</span>
                                                </div>
                                                <div class="col-5">
                                                    <label class="switch_slider">
                                                    <input type="checkbox"
                                                        {% if request.user.profile.status.my_identity_status %} checked="checked"{% endif %}
                                                        id="my_identity" name="my_identity"
                                                        onclick="change_user_status(id, name);"
                                                        autocomplete="off">
                                                    <div class="slider round"></div></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="row">
                                                <div class="col-5">
                                                    <span for="flip-1">My Repute</span>
                                                </div>
                                                <div class="col-5">
                                                    <label class="switch_slider">
                                                    <input type="checkbox" id="my_repute"
                                                        {% if request.user.profile.status.my_repute_status %} checked="checked"{% endif %}
                                                        name="my_repute" onclick="change_user_status(id, name);"
                                                        autocomplete="off" >
                                                    <div class="slider round"></div></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="row">
                                                <div class="col-5">
                                                    <span for="flip-1">SMS Notification</span>
                                                </div>
                                                <div class="col-5">
                                                    <label class="switch_slider">
                                                    <input type="checkbox" id="smsalert" name="sms_alert" onclick="notification_services_status(id, name);" autocomplete="off" >
                                                    <div class="slider round"></div></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="row">
                                                <div class="col-5">
                                                    <span for="flip-1">Newsletter Notification</span>
                                                </div>
                                                <div class="col-5">
                                                    <label class="switch_slider">
                                                    <input type="checkbox" id="newsletteralert" name="newsletter_alert" onclick="notification_services_status(id, name);" autocomplete="off" >
                                                    <div class="slider round"></div></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="row">
                                                <div class="col-5">
                                                    <span for="flip-1">Invitation and message</span>
                                                </div>
                                                <div class="col-5">
                                                    <label class="switch_slider">
                                                    <input type="checkbox" id="invitation_and_message" name="invitation_and_message" onclick="notification_services_status(id, name);" autocomplete="off" >
                                                    <div class="slider round"></div></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="row">
                                                <div class="col-5">
                                                    <span for="flip-1">Activity that Involves you</span>
                                                </div>
                                                <div class="col-5">
                                                    <label class="switch_slider">
                                                    <input type="checkbox" id="activity_involve" name="activity_involve" onclick="notification_services_status(id, name);" autocomplete="off" >
                                                    <div class="slider round"></div></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="row">
                                                <div class="col-5">
                                                    <span for="flip-1">Activity In your Network</span>
                                                </div>
                                                <div class="col-5">
                                                    <label class="switch_slider">
                                                    <input type="checkbox" id="activity_by_network" name="activity_by_network" onclick="notification_services_status(id, name);" autocomplete="off" >
                                                    <div class="slider round"></div></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="row">
                                                <div class="col-5">
                                                    <span for="flip-1">Blogs</span>
                                                </div>
                                                <div class="col-5">
                                                    <label class="switch_slider">
                                                    <input type="checkbox" id="blog" name="blog" onclick="notification_services_status(id, name);" autocomplete="off" >
                                                    <div class="slider round"></div></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="row">
                                                <div class="col-5">
                                                    <span for="flip-1">Microlearning</span>
                                                </div>
                                                <div class="col-5">
                                                    <label class="switch_slider">
                                                    <input type="checkbox" id="microlerning" name="microlerning" onclick="notification_services_status(id, name);" autocomplete="off" >
                                                    <div class="slider round"></div></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Acknowledgement popup-->
    <div class="modal fade upwardz-modal password-modal" id="password_acknw_alert1" role="dialog" name="forgot_password_alert" aria-hidden="true" data-keyboard="false" data-backdrop="static" tabindex="-1">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="panel upwrdz-log-panel panel-default">
                    <div class="panel-body pannel-popup-content" id="password_acknw_body" ;="">
                        <div class="text-center" id="forgot_passw_alert_content">
                            <div class="row">
                                <div class="col-md-12 mt-4 mb-4 passw-text">
                                    <h2 style="font-weight: 600;">Password Changed </h2>
                                </div>
                                <div class="text-center mt-4 mb-4 col-md-12">
                                    <img class="" alt="emailpng" style="width: 60px;height: 60px;" src="/static/new_images/passwordchanged.png">
                                </div>
                            </div>
                            <div class="row panel-body text-center mt-4 mb-4">
                                <a style="font-size:18px; width:100%" onclick="window.location.href='/';"><u> Click here to continue </u></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="{% static 'js/validate.js' %}"></script>
<script src="{% static 'js/jquery.validate.min.js' %}"></script>
<script src="{% static 'js/additional-methods.min.js' %}"></script>
<script>
    var submit_change_passw_form = $('#submit_change_passw');
    submit_change_passw_form.on('click', function(e){
        if($("#changepassword_form").valid()){
            var old_passw = $('#oldpassword').val()
            var new_passw = $('#newpassword').val()
            $.ajax({
                method: 'POST',
                url: '/signup/user_createpassword/',
                beforeSend: function(request){
                    request.setRequestHeader('X-CSRFToken', token)
                },
                data:{
                    oldpassword: old_passw,
                    newpassword: new_passw
                },
                success: function(response){
                    if(response == 'success'){
                        $('#password_acknw_alert1').modal({
                            show:true,
                            keyboard:false,
                            backdrop:'static'
                        });
                    }
                },
                error: function(response){
                    alert("Unable to process your request. \n Please try after some time.")
                }
            });
        }
    })
</script>
<script type="text/javascript">
    $(document).ready(function(){
        var sms = "{{sms_status}}";
        var news = "{{newsletter_status}}";
        var invitation_and_message_val = "{{invitation_and_message}}";
        var activity_involve_val = "{{activity_involve}}";
        var activity_by_network_val = "{{activity_by_network}}";
        var blog_val = "{{blog}}";
        var microlerning_val = "{{microlerning}}";
        if(sms == 'True'){
            document.getElementById("smsalert").checked = true;
        }else{
            document.getElementById("smsalert").checked = false;
        }
        if(news == 'True'){
            document.getElementById("newsletteralert").checked = true;
        }else{
            document.getElementById("newsletteralert").checked = false;
        }
        if(invitation_and_message_val == 'True'){
            $("#invitation_and_message").prop('checked', true);
        }else{
            $("#invitation_and_message").prop('checked', false);
        }
        if(activity_involve_val == 'True'){
            $("#activity_involve").prop('checked', true);
        }else{
            $("#activity_involve").prop('checked', false);
        }
        if(activity_by_network_val == 'True'){
            $("#activity_by_network").prop('checked', true);
        }else{
            $("#activity_by_network").prop('checked', false);
        }
        if(blog_val == 'True'){
            $("#blog").prop('checked', true);
        }else{
            $("#blog").prop('checked', false);
        }
        if(microlerning_val == 'True'){
            $("#microlerning").prop('checked', true);
        }else{
            $("#microlerning").prop('checked', false);
        }
    });
    function change_user_status(id, name){
        var status = $("#"+id).is(':checked');
        var token = "{{ csrf_token }}";
        $.ajax({
            url:"/user_service_status_update/",
            method: "POST",
            beforeSend: function (request) {
                request.setRequestHeader("X-CSRFToken", token );
            },
            data :{
                name : name,
                status : status
            },
            success:function(response){
            },
            error:function(response){
            },
        });
    }
    function notification_services_status(id, name){
        var noti_service_name;
        var alert_status = $("#"+id).is(':checked');
        var token = "{{ csrf_token }}";
        $.ajax({
            url:"/notification_services_status/",
            method: "POST",
            beforeSend: function (request) {
                request.setRequestHeader("X-CSRFToken", token );
            },
            data :{
                alert_status : alert_status,
                notification_type : name
            },
            success:function(response){
            },
            error:function(response){
            },
        });
    }
</script>
<script>
     // show/hide the for new password page block
     $('.change-pwd-on').on('click', function (e) {
        var icon;
        if ($("#newpassword").attr('type') == 'password') {
            icon = '<i class="fa fa-eye-slash"></i>';
            $('#newpassword').attr('type', 'text');
        } else {
            icon = '<i class="fa fa-eye"></i>';
            $('#newpassword').attr('type', 'password');
        }
        $(this).html(icon);
    });
</script>
old-pwd-on
<script>
     // show/hide the old password page block
     $('.old-pwd-on').on('click', function (e) {
        var icon;
        if ($("#oldpassword").attr('type') == 'password') {
            icon = '<i class="fa fa-eye-slash"></i>';
            $('#oldpassword').attr('type', 'text');
        } else {
            icon = '<i class="fa fa-eye"></i>';
            $('#oldpassword').attr('type', 'password');
        }
        $(this).html(icon);
    });
</script>
{% endblock %}
