{% extends 'login.html' %}
{% load staticfiles %}
{% block custome_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'V2_theme/css/inner_page.css' %}">
{% endblock %}
{% block main_content %}
    <header class="abotmi-abotu-whyus-section" style="min-height: 10rem;">
        <div class="container">
            <div class="row abotmi-inner-banner align-items-center mt-5 pt-5">
                <div class="col-md-12 col-sm-12 col-xs-12 text-center pt-5 pb-3">
                    <h3>Copyright Policy</h3>
                </div>
            </div>
        </div>
    </header>
    <section class="subpage-reia-primary parent-section subpage-reia-primary-div" id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>
                        <b>Effective on November 23, 2018</b>
                    </p>
                    <p>
                        Complaints regarding content posted on the Abotmi website
                    </p>
                    <p>
                        Abotmi respects the intellectual property rights of others and desires to offer a platform which contains no content that violates those rights. Our User Agreement requires that information posted by Members be accurate, lawful and not in violation of the rights of third parties. To promote these objectives, Abotmi provides a process for submission of complaints concerning content posted by our Members. Our policy and procedures are described and/or referenced in the sections that follow.
                    </p>
                    <p>
                        Please note that whether or not we disable access to or remove content, Abotmi may make a good faith attempt to forward the written notification, including the complainant’s contact information, to the Digital Asset Adviser who posted the content and/or take other reasonable steps to notify the Digital Asset Adviser that Abotmi has received notice of an alleged violation of intellectual property rights or other content violation. It is also our policy, in appropriate circumstances and in our discretion, to disable and/or terminate the accounts of Digital Asset Advisers, Investors, or groups as the case may be, who infringe or repeatedly infringe the rights of others or otherwise post unlawful content.
                    </p>
                    <p>
                        Please note that any notice or counter-notice you submit must be truthful and must be submitted under penalty of perjury. A false notice or counter-notice may give rise to personal liability. You may therefore want to seek the advice of legal counsel before submitting a notice or a counter-notice.
                    </p>
                    <p>
                        Claims regarding copyright infringement
                    </p>
                </div>
                <div class="col-md-12">
                    <h4 class="n-h4"><b>Notice of Copyright Infringement:</b></h4>
                    <p>
                        Pursuant to the Digital Millennium Copyright Act (17 U.S.C. § 512), Abotmi has implemented procedures for receiving written notification of claimed infringements. Abotmi has also designated an agent to receive notices of claimed copyright infringement. If you believe in good faith that your copyright has been infringed, you may complete and submit a Notice of Copyright Infringement form, or otherwise provide a written communication which contains:
                    </p>
                    <ol>
                      <li>An electronic or physical signature of the person authorized to act on behalf of the owner of the copyright interest;</li>
                      <li>A description of the copyrighted work that you claim has been infringed;</li>
                      <li>A description specifying the location on our website of the material that you claim is infringing;</li>
                      <li>Your email address and your mailing address and/or telephone number;</li>
                      <li>A statement by you that you have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law; and</li>
                      <li>A statement by you, made under penalty of perjury, that the information in your notice is accurate and that you are the copyright owner or authorized to act on the copyright owner’s behalf.</li>
                    </ol>
                    <p>
                        Please submit your notice to Abotmi Corporation’s Copyright Agent as follows:
                    </p>
                    <p>
                        Or contact us by mail at:
                    </p>
                </div>
                <div class="col-md-12">
                    <h4 class="n-h4"><b>What is a cookie?</b></h4>
                    <p>
                      A cookie is a small file placed onto your device that enables Abotmi features and functionality. For example, cookies enable us to identify your device, secure your access to Abotmi and our sites generally, and even help us know if someone attempts to access your account from a different device. Cookies also enable you to easily share content on Abotmi and help us serve relevant ads to you.
                    </p>
                </div>
                <div class="col-md-12">
                    <h4 class="n-h4"><b>When does Abotmi place cookies?</b></h4>
                    <p>
                        We use cookies on our sites (such as abotmi.com and slideshare.net) and mobile applications. Any browser visiting these sites will receive cookies from us. We also place cookies in your browser when you visit non-Abotmi sites that host our plugins (for example, Abotmi  “Share” button) or tags.
                    </p>
                </div>
                <div class="col-md-12">
                    <h4 class="n-h4"><b>What types of cookies does Abotmi use?</b></h4>
                    <p>
                        We use two types: persistent cookies and session cookies. A persistent cookie helps us recognize you as an existing user, so it’s easier to return to Abotmi  or interact with our services without signing in again. After you sign in, a persistent cookie stays in your browser and will be read by Abotmi  when you return to one of our sites or a partner site that uses our services (for example, our sharing or job application buttons). Session cookies only last for as long as the session (usually the current visit to a website or a browser session).
                    </p>
                </div>
                <div class="col-md-12">
                    <h4 class="n-h4"><b>What are cookies used for?</b></h4>
                    <p>
                        Cookies can be used to recognize you when you visit Abotmi , remember your preferences, and give you a personalized experience that’s in line with your settings. Cookies also make your interactions with Abotmi  faster and more secure. Additionally, cookies allow us to bring you advertising both on and off the Abotmi  sites, and bring customized features to you through Abotmi  plugins such as our “Share” button.
                    </p>
                </div>
                <div class="col-md-12">
                    <h4 class="n-h4"><b>What is Do Not Track (DNT)?</b></h4>
                    <p>
                        DNT is a concept that has been promoted by regulatory agencies such as the U.S. Federal Trade Commission (FTC), for the Internet industry to develop and implement a mechanism for allowing Internet users to control the tracking of their online activities across websites by using browser settings. The World Wide Web Consortium (W3C) has been working with industry groups, Internet browsers, technology companies, and regulators to develop a DNT technology standard. While some progress has been made, it has been slow. No standard has been adopted to this date. As such, Abotmi  does not generally respond to “do not track” signals.
                    </p>
                </div>
                <div class="col-md-12">
                    <h4 class="n-h4"><b>How are cookies used for advertising purposes?</b></h4>
                    <p>
                        Cookies and other ad technology such as beacons, pixels, and tags help us serve relevant ads to you more effectively. They also help us provide aggregated auditing, research, and reporting for advertisers, understand and improve our service, and know when content has been shown to you. Note: Because your web browser may request advertisements and beacons directly from third party ad network servers, these networks can view, edit, or set third party cookies, just as if you had requested a web page from their site. Ads served by Abotmi  may also set third party cookies.
                    </p>
                    <p>
                        If you are logged in on Abotmi .com, SlideShare.net, or another Service that references this Cookie Policy or browsing a third party partner site of Abotmi  and one of our cookies on your device identifies you, your usage (such as your browsing behavior) and log data (such as your IP address), will be associated by us with your account as noted in Sections 1.3 and 1.4 of our Privacy Policy. We also use aggregate data from third parties and data from your profile and Abotmi  activity.
                    </p>
                    <p>
                        If you are a Abotmi  member but logged out of your account on a browser, Abotmi  may still continue to log your interaction with our services on that browser for up to 30 days in order to generate usage analytics for our services, which analytics we may share in aggregate form with our advertising customers.
                    </p>
                </div>
                <div class="col-md-12">
                    <h4 class="n-h4"><b>Abotmi Corporation</b></h4>
                </div>
                <div class="col-md-12">
                    <h4 class="n-h4"><b>ATTN: Copyright Agent</b></h4>
                </div>
                <div class="col-md-12">
                    <h4 class="n-h4"><b>Legal Department</b></h4>
                </div>
                <div class="col-md-12">
                    <h4 class="n-h4"><b>1000 West Maude Avenue</b></h4>
                </div>
                <div class="col-md-12">
                    <h4 class="n-h4"><b>Sunnyvale, CA 94085</b></h4>
                </div>
                <div class="col-md-12">
                    <h4 class="n-h4"><b>USA</b></h4>
                </div>
                <div class="col-md-12">
                    <h4 class="n-h4"><b>Counter-Notice:</b></h4>
                    <p>
                        If you believe that a notice of copyright infringement has been improperly submitted against you, you may submit a Counter-Notice, pursuant to Sections 512(g)(2) and (3) of the Digital Millennium Copyright Act. You may complete the <b>Counter-Notice Regarding Claim of Copyright Infringement form,</b> or otherwise provide a written communication which contains:
                    </p>
                    <ol>
                        <li>Your physical or electronic signature;</li>
                        <li>Identification of the material removed or to which access has been disabled;</li>
                        <li>A statement under penalty of perjury that you have a good faith belief that removal or disablement of the material was a mistake or that the material was misidentified;</li>
                        <li>Your full name, your email address, your mailing address, and a statement that you consent to the jurisdiction of the Federal District court (i) in the judicial district where your address is located if the address is in the United States, or (ii) located in the Northern District of California (Santa Clara County), if your address is located outside the United States, and that you will accept service of process from the Complainant submitting the notice or his/her authorized agent.</li>
                    </ol>
                    <p>
                        Please submit your Counter-Notice to Abotmi’s Copyright Agent via our <b>online submission form or mail</b> to the address specified above.
                    </p>
                    <p>
                        Claims regarding content other than copyright infringement
                    </p>
                </div>
                <div class="col-md-12">
                    <p>For issues other than copyright infringement please visit our <b>Help Center</b> where you’ll find information on how to flag and report other types of content violations. Learn more:</p>
                    <ul>
                      <li><b>Abotmi’s Trademark Policy</b></li>
                      <li><b>Abotmi’s False Profile Policy</b></li>
                    </ul>
                    <p>
                        Notice regarding Associated Press content on Abotmi: Associated Press text, photo, graphic, audio and/or video material shall not be published, broadcast, rewritten for broadcast or publication or redistributed directly or indirectly in any medium. Neither these AP materials nor any portion thereof may be stored in a computer except for personal and non-commercial use. Users may not download or reproduce a substantial portion of the AP material found on this web site. AP will not be held liable for any delays, inaccuracies, errors or omissions therefrom or in the transmission or delivery of all or any part thereof or for any damages arising from any of the foregoing.
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}
    {{block.super}}
{% endblock %}
{% block theme_scripts %}
    <script src="{% static 'js/new_js/base.js' %}"></script>
{% endblock %}
