{% extends 'login.html' %}
{% load staticfiles %}
{% block top_header %}
    {% if not user.is_authenticated %}
        {% include 'header.html' %}
    {% else %}
        {% include 'header2.html' %}
    {% endif %}
{% endblock %}
{% block custom_theme_css %}
    {{ block.super }}
    <style>
        .build-color{
            color: #eb1b95;
        }
        .partners-logo{
            font-weight: 700;
            font-size: large;
        }
        .abotmi-profile-people{
            float: left;
            width: 20%;
            text-align: center;
        }
        .build-people-profile p{
            margin: 5px 0px;
        }
        .abotmi-profile-ppl{
            margin-top: 30px;
        }
        .abotmi-profile-people-row .abotmi-profile-people{
            width: 210px;
        }
        .start-up{
            text-align: center;
            font-size: 18px;
            font-weight: 700 !important;
        }
    </style>
    {% if not user.is_authenticated %}
        <style>
            body{
                padding-top: 123px;
            }
        </style>
    {% else %}
        <link href="/static/css/new_css/header2.css" type="text/css" rel="stylesheet">
    {% endif %}
{% endblock %}
{% block main_content %}
    <section class="reputation-static-banner">
        <img src="{% static 'new_images/ethical-oath-banner.png' %}">
        <div class="container reputation-static-banner-position">
            <h2>ETHICAL </br>COMMITMENT</h2>
        </div>
    </section>
    <section class="parent-section wealth-micro-section" id="about">
        <div class="container">
            <div class="row reputation-static code-of-conduct-section">
                <div class="col-md-12">
                    <img src="{% static 'new_images/infographic/ethical-oath-icon.png' %}">
                </div>
                <div class="col-md-12">
                    <ol>
                        <li>
                            <p>Investor protection is my <b>moral responsibility.</b></p>
                        </li>
                        <li>
                            <p>It’s my <b>fiduciary duty</b> to protect, secure, and monitor all your digital assets.</p>
                        </li>
                        <li>
                            <p>I am personally <b>committed</b> to placing all my client’s needs first, as I have developed a variety of safeguards to ensure the protection of each client I work with.</p>
                        </li>
                        <li>
                            <p>I strive to promote the value of <b>independent advice</b> by offering my clients expertise, tips,and practical everyday tools without any conflict of interest.</p>
                        </li>
                        <li>
                            <p>I am committed to share and publish only relevant <b>validated information</b> about myself in ABOTMI.</p>
                        </li>
                        <li>
                            <p>As a digital asset advisor it’s my <b>responsibility</b> to help every investor maximize their income and save for the future as we focus on wealth protection.</p>
                        </li>
                        <li>
                            <p>I strive to <b>confidentially</b> protect any data that is provided by the digital asset investors regarding their personal information.</p>
                        </li>
                        <li>
                            <p>We emphasize on <b>trust, compliance and regulation</b> in order to deliver the best protection and services for each client.</p>
                        </li>
                    </ol>
                    <p class="text-justify">My practice as a digital asset advisor is to live by these 8 commitments daily.</p>
                </div>
                <div class="row register register-its-work">
                    <div class="col-md-12 text-center">
                        <h3>IT'S FREE</h3>
                        <a type="button" class="btn" name="signup_a">Register Now</a>
                    </div>
                </div>
                <p class="start-up">Start Building Your Reputation!</p>
            </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}
    {{block.super}}
{% endblock %}
{% block theme_scripts %}
    <script src="{% static 'js/new_js/base.js' %}"></script>
{% endblock %}
