{% extends 'login.html' %}
{% load staticfiles %}
{% block custome_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'V2_theme/css/inner_page.css' %}">
{% endblock %}
{% block main_content %}
    <header class="abotmi-abotu-whyus-section" style="min-height: 10rem;">
        <div class="container">
            <div class="row abotmi-inner-banner align-items-center mt-5 pt-5">
                <div class="col-md-12 col-sm-12 col-xs-12 text-center pt-5 pb-3">
                    <h3>Summary of Changes to the Abotmi Privacy Policy</h3>
                </div>
            </div>
        </div>
    </header>
    <section class="subpage-reia-primary parent-section subpage-reia-primary-div" id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>
                        This summary is intended to help you better understand the most recent changes to the Privacy Policy and Cookie Policy and how they may impact you.
                    </p>
                    <p>
                        You will be bound by the Privacy Policy when you view, access, or otherwise use the covered products and services. To fully understand the changes and terms that will govern your use of our “Services,” you will need to read the full Privacy Policy and Cookie Policy.
                    </p>
                </div>
                <div class="col-md-12">
                    <h4 class="n-h4"><b>Introduction</b></h4>
                    <ul>
                        <li><b>Data Controllers and Contracting Parties.</b> We clarify the entity acting as the data controller and contracting party for the data of some of our Digital Asset Advisors and Digital Asset Investors.</li>
                    </ul>
                </div>
                <div class="col-md-12">
                    <h4 class="n-h4"><b>Section 1 - Data We Collect</b></h4>
                    <h5 class="n-h4"><b>Sign Up Page</b></h5>
                        <p>We use the information available on the social media of the user and in case the user does not have a valid Social Media to sign up, then in such case he has to create the Social Media login and then sign up. When you sign up through social media there is certain information that we collect through the social media platform, including but not limited to:</p>
                            <ul>
                                <li>User name</li>
                                <li>First name</li>
                                <li>Last name</li>
                                <li>Date of birth</li>
                                <li>Age</li>
                                <li>Gender</li>
                                <li>Email</li>
                                <li>Current city</li>
                                <li> Home town</li>
                            </ul>
                        <p>Your user identifier information regarding certain third party services, i.e. Facebook, Google+, LinkedIn can be used as necessary for the application to interoperate with such third party services. In that case ABOTMI will store and process that information also (and also a mapped photo where applicable), for as long as You use the Services and will not use this information for any other purpose than required in order to obtain interoperability and functionality in relation to such third party services. Please note that we never store any passwords to the mentioned third party services.</p>

                        <p>In addition to Contact Information, if You choose to activate use of a third party social network service, such as Facebook, Google+, LinkedIn, etc. within the ABOTMI, ABOTMI may up-load, store and use the list of identifiers associated with said services linked to the Contact Information in order to enhance the results shared with other Users.</p>

                        <h4 class="n-h4"><b>KYC Registration Page</b></h4>
                        <p>You will be asked to carry out a KYC and background verification through a third party. You hereby consent to providing the details and information as required to carry out such KYC and background verification, which will include and not limited to:</p>
                        <ul>
                            <li><h4 class="n-h4"><b>Identity Proof</b></h4></li>
                                <ul>
                                    <li>Passport</li>
                                    <li>Driving License</li>
                                    <li>PAN Card</li>
                                    <li>Any Govt.Issued ID</li>
                                </ul>
                            <li><h4 class="n-h4"><b>Address proofs</b></h4></li>
                                <ul>
                                    <li>Passport</li>
                                    <li>SSN</li>
                                    <li>Voters ID</li>
                                    <li>Driving License</li>
                                    <li>Ration card</li>
                                </ul>
                            <li><h4 class="n-h4"><b>Nationality Proof</b></h4></li>
                                <ul>
                                    <li>Passport</li>
                                    <li>PAN Card</li>
                                </ul>
                        </ul>
                </div>
                <div class="col-md-12">
                    <h4 class="n-h4"><b>Section 1.1 - Data You Provide to Us</b></h4>
                    <ul>
                        <li><b>Profile</b> - We clarify that you are not obligated to provide us personal data beyond the limited data we need for you to register your account or to make payments if you purchase premium services from us. However, a complete profile helps you be found for economic opportunity and helps make the Services more relevant and useful to you.</li>
                        <li><b>Profile</b> - We also clarify that we do not require you to provide “sensitive personal data” to use our services, and if you choose to include it on your profile it will be visible to others.</li>
                    </ul>
                </div>
                <div class="col-md-12">
                    <h4 class="n-h4"><b>Section 1.2 - Data from Others</b></h4>
                    <ul>
                        <li><b>Contact and Calendar Information</b> - We clarify that when others upload your contact information, we will seek to associate it with your profile.</li>
                        <li><b>Related Companies and Other Services</b> - We describe how we may receive information about you from our affiliates (including Abotmi Ireland, Abotmi Corporation,Abotmi Singapore and Microsoft Corporation) or other services, such as when you choose to sync your Outlook contacts to your Abotmi Service. [Existing Sections 3.3 and 3.4 describe how we may share your data with Others’ Services and Related Services].</li>
                    </ul>
                </div>
                <div class="col-md-12">
                    <h4 class="n-h4"><b>Section 1.5 - Your Device and Location</b></h4>
                    <ul>
                        <li>We clarify that we will get your separate permission before we collect information about your precise location for a feature.</li>
                    </ul>
                </div>
                <div class="col-md-12">
                    <h4 class="n-h4"><b>Section 1.7 - Workplace and School Provided Information</b></h4>
                    <ul>
                        <li>We clarify that sometimes a school will provide us data about you when they have bought Abotmi Services for you to use, such as our Abotmi Learning subscription.</li>
                    </ul>
                </div>
                <div class="col-md-12">
                    <h4 class="n-h4"><b>Section 2 - How We Use Your Data</b></h4>
                </div>
                <div class="col-md-12">
                    <h4 class="n-h4"><b>Section 2.1 - Stay Connected</b></h4>
                    <ul>
                        <li>We add a reference to the setting that allows you to control whether you want to share who your connections are with others.</li>
                        <li>If you have opted-in to share your precise location, we will use that data for the Service features that you have authorized.</li>
                    </ul>
                </div>
                <div class="col-md-12">
                    <h4 class="n-h4"><b>Section 2.1 - Stay Informed</b></h4>
                    <ul>
                        <li>We provide additional clarity about the data we use to provide you more relevant content suggestions and experiences in our Services.</li>
                    </ul>
                </div>
                <div class="col-md-12">
                    <h4 class="n-h4"><b>Section 2.1 - Careera</b></h4>
                    <ul>
                        <li>We clarify that we use automated systems in order to present you with better opportunities and to make our Services more relevant to you.</li>
                    </ul>
                </div>
                <div class="col-md-12">
                    <h4 class="n-h4"><b>Section 2.2 - Premium Services</b></h4>
                    <ul>
                        <li>We update a reference to Services to include our current premium Services and features.</li>
                    </ul>
                </div>
                <div class="col-md-12">
                    <h4 class="n-h4"><b>Section 2.3 - Communications</b></h4>
                    <ul>
                        <li>We add that we may contact you through mobile numbers and not just email. Our communication preference settings allow Members choices about communications.</li>
                    </ul>
                </div>
                <div class="col-md-12">
                    <h4 class="n-h4"><b>Section 2.4 - Advertising</b></h4>
                    <ul>
                        <li>We provide additional clarity that we may serve you ads both directly and indirectly on and off our Services, subject to your settings.</li>
                        <li>When you take a social action (such as liking or sharing a post) we will associate you with the content, companies or people that you shared or followed, and we may also use that social action as part of an ad (unless your settings do not allow that).</li>
                        <li>We provide additional information about when and how we may share your personal data with advertisers, such as when you fill-out a lead generation form or an advertiser accesses your Abotmi profile. We also provide information about how third parties may be able to use cookies to identify you if you view or click on an ad on or off our site or apps.</li>
                    </ul>
                </div>
                <div class="col-md-12">
                    <h4 class="n-h4"><b>Section 2.8 Aggregate Insights</b></h4>
                    <ul>
                        <li>We add greater clarity about the types of aggregated and non-identifiable insights that we produce and may share.</li>
                    </ul>
                </div>
                <div class="col-md-12">
                    <h4 class="n-h4"><b>Section 3 - How We Share Information</b></h4>
                </div>
                <div class="col-md-12">
                    <h4 class="n-h4"><b>Section 3.1 Our Services</b></h4>
                    <ul>
                        <li><b>Profile -</b> We add greater clarity about your profile visibility and the settings you have to control your profile visibility off of our Services.</li>
                        <li><b>Posts, Likes, Follows, Comments, Messages -</b> We provide additional clarity and details about what is made available and accessible to others when you take an action on our Services. Social actions such as posting, liking, following, commenting and sharing are associated with you and visible to others. If your settings allow, other Members can see when you have visited their profile.</li>
                        <li><b>Enterprise Accounts -</b> We update the Services referenced in this section to reflect our current Services.</li>
                    </ul>
                </div>
                <div class="col-md-12">
                    <h4 class="n-h4"><b>Section 3.3 Others’ Services</b></h4>
                    <ul>
                        <li>We provide greater clarity about when your profile may be found and accessed off of our Services (subject to your settings).</li>
                    </ul>
                </div>
                <div class="col-md-12">
                    <h4 class="n-h4"><b>Section 3.4 Related Services</b></h4>
                    <ul>
                        <li>We provide clarity about how we will use data that is shared across Services covered by the Privacy Policy and removed a reference to a Service that we no longer support.</li>
                    </ul>
                </div>
                <div class="col-md-12">
                    <h4 class="n-h4"><b>Section 4 - Your Choices & Obligation</b></h4>
                </div>
                <div class="col-md-12">
                    <h4 class="n-h4"><b>Section 4.1 Data Retention</b></h4>
                    <ul>
                        <li>We clarify that data we retain may have been provided directly by you, inferred from your use of the Services or provided by a third party.</li>
                    </ul>
                </div>
                <div class="col-md-12">
                    <h4 class="n-h4"><b>Section 4.2 Rights to Access and Control Your Personal Data</b></h4>
                    <ul>
                        <li>Regardless of whether you are a Abotmi Member or a Visitor, you may exercise the following data protection rights: the right of deletion, the right to amend or rectify your personal data, the right to object to the use of your personal data, the right to restrict processing of your data, the right of access, and the right of portability.</li>
                    </ul>
                </div>
                <div class="col-md-12">
                    <h4 class="n-h4"><b>Section 5 - Other Important Information</b></h4>
                </div>
                <div class="col-md-12">
                    <h4 class="n-h4"><b>Section 5.2 Cross Border Data Transfers</b></h4>
                    <ul>
                        <li>We clarify that Abotmi operates on a global basis and may transfer data to countries that may have data protection laws that differ from those of your country.</li>
                    </ul>
                </div>
                <div class="col-md-12">
                    <h4 class="n-h4"><b>Section 5.3 Lawful Bases for Processing</b></h4>
                    <ul>
                        <li>As before, Abotmi will only collect and process your personal data when we have lawful bases for doing so. These lawful bases include when you provide us consent, when we have a contractual obligation to collect or process your personal data, and when we have a legitimate interest in processing your personal data.</li>
                    </ul>
                </div>
                <div class="col-md-12">
                    <h4 class="n-h4"><b>Section 5.4 Contact Information</b></h4>
                    <ul>
                        <li>We describe how Members in Designated Countries can contact our Data Protection Officer.</li>
                    </ul>
                </div>
                <div class="col-md-12">
                    <h4 class="n-h4"><b>Cookie Policy</b></h4>
                    <ul>
                        <li>We update the description of cookies used in advertising to conform (and point Visitors) to the updated Privacy Policy. In addition, we clarify the degree of control that Abotmi provides to Abotmi Digital Asset Advisors and Digital Asset Investors regarding Abotmi’s use of cookies.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}
    {{block.super}}
{% endblock %}
{% block theme_scripts %}
    <script src="{% static 'js/new_js/base.js' %}"></script>
{% endblock %}
