{% load staticfiles %}
<style>
    .modal-title.identity-title {
        display: inline-flex;
    }
    .modal-side-content {
        color: #2a3290;
        text-align: center;
    }
    .content {
        font-size: 18px;
    }
    .sub-content{
        font-weight: 600;
        width: 70%;
        margin: auto;
    }
    .share_icons{
        list-style: none;
        display: inline-flex;
    }
    .micro-img-sec{
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .upwardz-modal .close{
       position:absolute;
       top:15px;
       right:15px;
       font-weight:600;
       background:transparent;
   }
   .upwardz-modal h3{
       font-size: 25px;
       font-weight: 600;
   }
   .upwardz-modal p{
       font-size: 16px;
   }
</style>
<div class="modal fade upwardz-modal" role="dialog" id="wpb_how_it_works_modal" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content p-4">
                    <h3 class="pt-3 pb-4 text-center">HOW IT WORKS</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                <div class="pannel-popup-content">
                    <div class="col-md-12">
                        <div class="row">
                            <p class="content text-center">
                                The Digital Assets Academy offers 9 types of specialized education programs to become a certified expert in Digital Assets. The programs covers multiple topics regarding Cryptocurrencies, Security Tokens and blockchain technology. The platform facilitates the capability for every individual to share and learn with their peers. The goal is to help provide every individual expand their knowledge and achieve their personal objectives.
                            </p>
                        </div>
                    </div>
                </div>
       
        </div>
    </div>
</div>
