{% extends 'company/company_base.html' %}
{% load staticfiles %}
{% block slider %}
{% endblock %}
{% block important_css %}
<link rel="stylesheet" href="{% static 'js/plugins/intl-tel-input-js/css/intlTelInput.css' %}">
{% endblock %}
{% block main_content %}
    <div class="section" id="about">
        <h3 align= "center">Content needs to be filled.</h3>
    </div>
{% endblock %}
{% block copy_rights %}
    {{block.super}}
{% endblock %}
{% block theme_scripts %}
    {{ block.super }}
{% endblock %}
