<div class="modal fade" data-keyboard="false" data-backdrop="static" 
    id="common_modal" tabindex="-1" role="dialog" aria-labelledby="commonModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body modal-content-align text-center">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;</button>
                <div class="text-center" id="msg_type"></div>
                <div class="sub-div"></div>
                <a class="btn btn common-dialog-button upwrdz-button" id="common_btn">Ok</a>
                <a class="btn btn common-dialog-button upwrdz-button" id="common_cancel_btn">Cancel</a>
            </div>
        </div>
    </div>
</div>