<!DOCTYPE html>
<html>
	
<head>
	<title>The Login-Animated Website Template | Home :: w3layouts</title>
		<meta charset="utf-8">
		<link href="assets/css/login.css" rel='stylesheet' type='text/css' />
		<meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1">
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		<!--webfonts-->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,300,600,700' rel='stylesheet' type='text/css'>

		<link rel="stylesheet" type="text/css" href="assets/css/responsive.css" media="screen">
		<link rel="stylesheet" href="assets/css/bootstrap.min.css" type="text/css" media="screen">
		<link rel="stylesheet" href="assets/css/social_buttons.css" type="text/css" media="screen">
		<!--//webfonts-->
		<script type="text/javascript" src="assets/js/jquery-min.js"></script>      
	    <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
	    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css" type="text/css" media="screen">
    <!-- Icon -->
    <link rel="stylesheet" href="assets/fonts/simple-line-icons.css" type="text/css" media="screen">
    <!-- ConBiz Iocn -->
    <link rel="stylesheet" href="assets/fonts/flaticon.css" type="text/css" media="screen">
</head>
<body>
	
				 <!-----start-main---->
				<div class="login-form">
					<div class="head">
						<img src="images/reialogo.png" alt=""/>
						
					</div>
				<form>
					<li>
						<a class="btn btn-block btn-lg btn-social btn-facebook">
					       <i class="fa fa-facebook"></i> Sign in with Facebook
					    </a>
					</li>
					<!-- <li>
						<button class="btn btn-lg btn-primary btn-block " type="submit">Sign up with Facebook</button><i class="fa fa-facebook icon user"></i>
					</li> -->
					<!-- <li>
						<button class="btn btn-lg btn-danger btn-block" type="submit">Sign up with Google</button>
					</li> -->
					<li>
						<a class="btn btn-block btn-lg btn-social btn-google-plus">
					      	<i class="fa fa-google-plus"></i> Sign in with Google
					    </a>
					</li>
					<!-- <li>
						<button class="btn btn-lg btn-info btn-block" type="submit">Sign up with Linkedin</button>
					</li> -->
					<li>
						<a class="btn btn-block btn-lg btn-social btn-linkedin">
					       <i class="fa fa-linkedin"></i> Sign in with LinkedIn
					    </a>
					</li>					
					<!-- <div class="checkbox">
					  <label><input type="checkbox" value="">Remember Me</label>
					  <label><a href="#">Forgot Password?</a></label>
					</div>
					<button class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button> -->
					<label><font size="2px">Already a member? </font><a href="#">Sign In</a></label>
					<!-- <div class="p-container">
								<label class="checkbox"><input type="checkbox" name="checkbox" checked><i></i>Remember Me</label> -->
								<!-- <input type="submit" onclick="myFunction()" value="SIGN IN" > -->
							<!-- <div class="clear"> </div> -->
					<!-- </div> -->
				</form>
			</div>
			<!--//End-login-form-->
		  <!-----start-copyright---->
   					<!-- <div class="copy-right">
						<p>Template by <a href="http://w3layouts.com">w3layouts</a></p> 
					</div> -->
				<!-----//end-copyright---->
		 		<script type="text/javascript" src="assets/js/jquery-min.js"></script>      
    <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
</body>
</html>