/* Registration Form CSS */
.centered-form {
    margin-top: 60px;
}

.centered-form .panel {
    background: rgba(255, 255, 255, 0.8);
    box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

.control-group.warning>label, .control-group.warning .help-block, .control-group.warning .help-inline {
    color: #c09853;
}

.control-group.warning input, .control-group.warning select, .control-group.warning textarea {
    color: #c09853;
    border-color: #c09853;
}

.control-group.warning input:focus, .control-group.warning select:focus, .control-group.warning textarea:focus {
    border-color: #a47e3c;
    -webkit-box-shadow: 0 0 6px #dbc59e;
    -moz-box-shadow: 0 0 6px #dbc59e;
    box-shadow: 0 0 6px #dbc59e;
}

.control-group.warning .input-prepend .add-on, .control-group.warning .input-append .add-on {
    color: #c09853;
    background-color: #fcf8e3;
    border-color: #c09853;
}

.control-group.error>label, .control-group.error .help-block, .control-group.error .help-inline {
    color: #000;
}

.control-group.error input, .control-group.error select, .control-group.error textarea {
    color: #b94a48;
    border-color: #b94a48;
}

.control-group.error input:focus, .control-group.error select:focus, .control-group.error textarea:focus {
    border-color: #953b39;
    -webkit-box-shadow: 0 0 6px #d59392;
    -moz-box-shadow: 0 0 6px #d59392;
    box-shadow: 0 0 6px #d59392;
}

.control-group.error .input-prepend .add-on, .control-group.error .input-append .add-on {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #b94a48;
}

.control-group.success>label, .control-group.success .help-block, .control-group.success .help-inline {
    color: #468847;
}

.control-group.success input, .control-group.success select, .control-group.success textarea {
    color: #468847;
    border-color: #468847;
}

.control-group.success input:focus, .control-group.success select:focus, .control-group.success textarea:focus {
    border-color: #356635;
    -webkit-box-shadow: 0 0 6px #7aba7b;
    -moz-box-shadow: 0 0 6px #7aba7b;
    box-shadow: 0 0 6px #7aba7b;
}

.control-group.success .input-prepend .add-on, .control-group.success .input-append .add-on {
    color: #468847;
    background-color: #dff0d8;
    border-color: #468847;
}

input:focus:required:invalid, textarea:focus:required:invalid, select:focus:required:invalid {
    color: #b94a48;
    border-color: #ee5f5b;
}

input:focus:required:invalid:focus, textarea:focus:required:invalid:focus, select:focus:required:invalid:focus {
    border-color: #e9322d;
    -webkit-box-shadow: 0 0 6px #f8b9b7;
    -moz-box-shadow: 0 0 6px #f8b9b7;
    box-shadow: 0 0 6px #f8b9b7;
}

/* File Upload Validation */

.file_error {
    color: #b94a48;
}

.before-login .input {
    color: #000 !important;
}
