{% load staticfiles %}
<section class="footer-upwrdz-main">
    <div class="footer-info">
        <div class="container">
            {% comment %}
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <strong>ABOUT US</strong>
                    <ul>
                        <li><a href="#">Why upwrdz</a></li>
                        <li><a href="#">Our Belief</a></li>
                        <li><a href="#">Advisor life cycle</a></li>
                        <li><a href="#">Co-creator</a></li>
                        <li><a href="#">Code of conduct</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <strong>LEARN MORE</strong>
                    <ul>
                        <li><a href="#">About Stream</a></li>
                        <li><a href="#">Membership benefits</a></li>
                        <li><a href="#">Loop</a></li>
                        <li><a href="#">Icore</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <strong>QUICK LINKS</strong>
                    <ul>
                        <li><a href="#">About Stream</a></li>
                        <li><a href="#">Membership benefits</a></li>
                        <li><a href="#">Loop</a></li>
                        <li><a href="#">Icore</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <strong><a href="{% url 'home:get_in_touch' %}">CONTACT US</a></strong>
                    <ul>
                        <li><a href="#">upwrdz.com</a></li>
                    </ul>
                </div>
            </div>
            {% endcomment %}
        </div>
    </div>
    <!-- copyrights Footer -->
    <footer class="upwrdz-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 responsive-width-100">
                    
                        <div class="footer-main-menu text-center">
                            Copyright &copy; 2019 ABOTMI<br/> &nbsp; |  &nbsp; 
                            <a href="/abotmi_faq/" style="font-weight:normal;"> FAQ</a> &nbsp; |  &nbsp; 
                            <a href="/signup_terms_and_conditions/" style="font-weight:normal;"> Terms and Conditions</a>  &nbsp; | &nbsp;
                            <a href="/privacy_and_policy/" style="font-weight:normal;"> Privacy Policy</a> &nbsp; | &nbsp;
                            <a href="/code_of_coduct/" style="font-weight:normal;"> Code of Conduct</a> &nbsp; | &nbsp;
                            <a href="/cookie_policy/" style="font-weight:normal;"> Cookie Policy</a>&nbsp; | &nbsp; 
                            <a href="/copyright_policy/" style="font-weight:normal;"> Copyright Policy</a>
                        </div>
                        <div class="socila-media-icons  text-center">
                            <a class="social-media-collection" href="https://www.facebook.com/abotmi.learning.1" target="_blank"><img src="{% static 'new_images/facebook1.png' %}"/></a>&nbsp; |  &nbsp; 
                            <a class="social-media-collection" href="https://twitter.com/Abotmi2" target="_blank"><img src="{% static 'new_images/twitter.png' %}"></a>&nbsp; |  &nbsp; 
                            <a class="social-media-collection" href="//www.instagram.com/abotmi1/" target="_blank"><img src="{% static 'new_images/instagram.png' %}"></a>&nbsp; |  &nbsp; 
                            <a class="social-media-collection" href="https://www.linkedin.com/in/abotmi" target="_blank"><img src="{% static 'new_images/linkedin-logo.png' %}"></a>&nbsp; |  &nbsp; 
                            <a class="social-media-collection" href="https://medium.com/@Abotmi2" target="_blank"><img src="{% static 'new_images/medium.png' %}"></a>&nbsp; |  &nbsp; 
                            <a class="social-media-collection" href="https://www.pinterest.com/sabotmi/" target="_blank"><img src="{% static 'new_images/pinterest.png' %}"></a>&nbsp; |  &nbsp; 
                            <a class="social-media-collection" href="https://www.quora.com/profile/Sm-Abotmi" target="_blank"><img src="{% static 'new_images/quora.png' %}"></a>&nbsp; |  &nbsp; 
                            <a class="social-media-collection" href="https://www.youtube.com/channel/UC3FNesuCblPrPaHLvD3nWIw" target="_blank"><img src="{% static 'new_images/youtube.png' %}"></a>
                        </div>
                    </div>
                    <div class="text-center" style="width:100%;"><p class="text-center">This site is best viewed in Google Chrome, Firefox and Safari</p></div>
                </div>
            </div>
        </div>
    </footer>
</section>
