{% load staticfiles %}
{% spaceless %}
<footer class="footer-main-div">
    <div class="container">
        <div class="row footer-menu-section">
            <div class="col-md-4 col-xs-12 col-sm-6">
                <p><b>ABOTMI</b> is a professional network that connects you with the most reliable and trustworthy digital asset advisors across the globe.</p>
            </div>
            <div class="col-md-2 col-xs-12 col-sm-6 footer-menu-section-one">
                <ul>
                    <li><a href="{% if not user.is_authenticated %}/{% else %}/home-page/{% endif %}">Home</a></li>
                    <li><a href="/advisor_page/">Advisor</a></li>
                    <li><a href="/investors/">Investor</a></li>
                    <li><a href="/partners_page/">Partners</a></li>
                    <li><a href="/about_us/">About Us</a></li>
                    <li><a href="/why_us/">Why Us</a></li>
                    <li><a href="/abotmi_faq/">FAQ</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-xs-12 col-sm-6 footer-menu-section-one">
                <ul>
                    <li><a href="/signup_terms_and_conditions/">Terms and Conditions</a></li>
                    <li><a href="/privacy_and_policy/">Privacy Policy</a></li>
                    <li><a href="/code_of_coduct/">Code of Conduct</a></li>
                    <li><a href="/cookie_policy/">Cookie Policy</a></li>
                    <li><a href="/copyright_policy/">Copyright Policy</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-xs-12 col-sm-6 footer-menu-social">
                <p><b>Follow us</b></p>
                <a href="https://www.linkedin.com/company/abotmi" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                <a href="https://m.facebook.com/learnabotmi/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="https://twitter.com/Abotmi2" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a  href="//www.instagram.com/abotmi1/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a><br/>
                <a href="https://medium.com/@Abotmi2" target="_blank"><img src="{% static 'V2_theme/icons/medium-white.png' %}"/></a>
                <a href="https://www.pinterest.com/sabotmi/" target="_blank"><img src="{% static 'V2_theme/icons/pinterest-white.png' %}"/></a>
                <a href="https://www.quora.com/profile/Sm-Abotmi" target="_blank"><img src="{% static 'V2_theme/icons/social-quora-white.png' %}"/></a>
                <a href="https://www.youtube.com/channel/UC3FNesuCblPrPaHLvD3nWIw" target="_blank"><img src="{% static 'V2_theme/icons/youtube-white.png' %}"/></a>
            </div>
        </div>
        <div class="row footer-menu-copyrights">
            <div class="col-md-12">
                <p class="text-center">
                    COPYRIGHT &copy; 2019 ABOTMI<br/>
                    THIS SITE IS BEST VIEWED IN GOOGLE CHROME, FIREFOX AND SAFARI
                </p>
            </div>
        </div>
    </div>
</footer>
{% endspaceless %}