{% load staticfiles %}
{% spaceless %}
    <nav class="navbar navbar-expand-lg navbar-light fixed-top abotmi-header-navigation {% if not title in 'Home, Log In, Advisor How It Works, Investors' %}abotmi-inner-navigation{% endif %}"
        id="abotmi-mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger {% if advisor.is_register_advisor or user_selected_role == 'investor' %}single_logo{% endif %}" href="/">
                {% if not advisor.is_register_advisor and user_selected_role != 'investor' %}
                    {% if title in 'Home, Log In, Advisor How It Works, Investors' %}
                    <img src="{% static 'V2_theme/images/logo-white.png' %}" class="landing-scroll-before">
                    {% else %}
                    <img src="{% static 'V2_theme/images/logo-color.png' %}" class="landing-scroll-before">
                    {% endif %}
                    <img src="{% static 'V2_theme/images/logo-color.png' %}" class="landing-scroll-after">
                {% else %}
                    <img src="{% static 'V2_theme/images/abotmi-logo-icon.png' %}" class="img-fluid" alt="">
                {% endif %}
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </button>
            <div class="collapse navbar-collapse abotmi-after-login-my-identity" id="navbarResponsive">
                {% if user.is_authenticated %}
                    <ul class="navbar-nav mr-auto">
                        {% if user_selected_role == 'investor' %}
                        <li class="nav-item active after-login-myidentity-btn">
                            <a class="nav-link" href="/signup/investor_identity/">MY IDENTITY  <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active after-login-myidentity-btn">
                            <a class="nav-link" href="/advisor_check/">SEARCH ADVISOR<span class="sr-only">(current)</span></a>
                        </li>
                        {% endif %}
                        {% if advisor.is_register_advisor and user_selected_role == 'advisor' %}
                        <li class="nav-item after-login-myidentity-btn" id="identity_menu">
                            <a class="nav-link" href="/my_identity/">MY IDENTITY  <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item after-login-myidentity-btn" id="growth_menu">
                            <a class="nav-link" href="/my_growth/">MY GROWTH  <span class="sr-only">(current)</span></a>
                        </li> 
                        <li class="nav-item after-login-myidentity-btn" id="hub_menu">
                            <a class="nav-link" href="/dashboard/">MY HUB  <span class="sr-only">(current)</span></a>
                        </li>
                        {% endif %}
                    </ul>
                    <div class="form-inline my-2 my-lg-0">
                        {% if not advisor.is_register_advisor and user_selected_role == 'advisor' %}
                        <li class="nav-item list-style-none">
                            <a href="/signup/face_capture/">Register</a>
                        </li>
                        {% endif %}
                        {% if user_selected_role == 'advisor' %}
                        <li class="nav-item dropdown notificationButton list-style-none" name="notfication_btn">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-bell-o fa-lg" aria-hidden="true"></i>
                                <span class="badge badge-light custome-badge hide" id="notf_count"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right notification-header-div" aria-labelledby="navbarDropdown" id="notif_drop_down" style="height: 300px;overflow-y: auto;">
                            </div>
                        </li>
                        {% endif %}
                        <li class="nav-item dropdown list-style-none ">
                            <a class="nav-link dropdown-toggle header-profile-pic profile-img after-login-welcome-btn" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="advisor-pro-pic" title="{{ user_profile.first_name }}"> Welcome {{ user_profile.first_name|truncatechars_html:30 }}</span> {% if user_profile.picture %}<img src="{{ user_profile.picture.url }}" class="img-responsive n-user-img header-profile" alt="">{% else %}<span class="fa fa-user header-profile"></span>{% endif %}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {% if advisor.is_register_advisor and user_selected_role == 'advisor' %}
                                    <a class="dropdown-item" href="{% url 'signup:face_capture' %}"> Edit Profile</a>
                                    <a class="dropdown-item" href="{% url 'home:change_password' %}"> Settings </a>
                                {% else %}
                                    {% if user_profile.is_company %}
                                        <a class="dropdown-item" href="/company/my_company_track/">My Identity</a>
                                        <a class="dropdown-item" href="{% url 'home:change_password' %}">Change Password </a>
                                    {% endif %}
                                {% endif %}
                                <a class="dropdown-item" onclick="user_logout();">Logout</a>
                            </div>
                        </li>
                    </div>
                {% else %}
                <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="/about_us/">ABOUT US</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="/partners_page/">PARTNERS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="/why_us/">WHY&nbsp;US</a>
                        </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link js-scroll-trigger dropdown-toggle" href="#signup" data-toggle="dropdown" aria-expanded="true">HOW&nbsp;IT&nbsp;WORKS</a>
                        <div class="dropdown-menu dropdown-with-icons">
                            <a href="/advisor_page/" class="dropdown-item">
                                Advisor
                            </a>
                            <a href="/investors/" class="dropdown-item">
                                Investor
                            </a>
                        </div>
                    </li>
                    {% if not user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger btn login_btn" name='login_a'>LOG&nbsp;IN</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger btn login_btn" name='signup_a'>SIGN&nbsp;UP</a>
                    </li>
                    {% endif %}
                </ul>
                {% endif %}
            </div>
        </div>
    </nav>
{% endspaceless %}
<link href="{% static 'css/header.css' %}" rel="stylesheet">
{% if user.is_authenticated %}
<script type="text/javascript">
    $(document).ready(function () {
        var ws = get_websocket();
        if(ws == undefined){
            ws = create_websocket_connection();
            ws.listen(function(d){
                if(d['advisor_id']+'' == '{{user_profile.id}}'){
                    var count = $("#notf_count").html();
                    if(count == "" || count == null){
                        count = 0;
                    }else{
                        count = parseInt(count)
                    }
                    count = count + 1;
                    $("#notf_count")
                        .html(count)
                        .removeClass('hide');
                    
                }
            })
        }
    });
</script>
{% endif %}