<ion-view>
  <ion-nav-bar class="bar" align-title="center">
    <ion-nav-buttons side="left">
      <button class="button button-icon icon ion-navicon-round light" ng-click="toggleDrawer();" transitiontype="flip" direction="right" go-native></button>
    </ion-nav-buttons>
    <ion-nav-title>
       <h4 class="modaltitle whitefont">About Us</h4>
    </ion-nav-title>
  </ion-nav-bar>
  <ion-content overflow-scroll="true" ng-cloak>
    <ul class="list ourbelief">
      <li>
        <div style="padding:20px;">
          <p class="mypageheadfont">Our Vision</p>
          <div class="yellowline"></div>
          <div>"To be the Leader and the Most Trusted Real Estate Investment Advisory Service Provider in India."</div>
          <br/>
        </div>
      </li>
      <li class="yellow-clr">
        <div style="padding:20px;">
          <p class="mypageheadfont">Our Mission</p>
          <div class="whiteline"></div>
          <div>"To deliver trust through High Standards of Integrity and Transparency in the Real Estate Advisory Profession  through professionally qualified Real Estate Investment Advisors."</div>
        </div>
      </li>
      <li class="grey-bg">
        <div style="padding:20px;">
          <p class="mypageheadfont">Our Promise</p>
          <div class="yellowline"></div>
          <div>"To be the most trustworthy neighborhood Investment Advisor in all Real Estate decisions of your life. Just connect with us, anyway that you want. A Call, a Message, a Mail ...<br> we promise you the best Professional Advice.</div>
        </div>
      </li>
      <li>
        <div style="padding:20px;">
          <p class="mypageheadfont">Our Belief</p>
          <div class="yellowline"></div>
          <div class="green-color-font">We believe in Shaping the Future, than just solving the Problems of the Past.</div><br/>
          <div>
            Solving the problems of the past will only solve the existing issues, but when we shape the Future we disrupt the whole Ecosystem, which will by itself solve those old problems and build the Future above that.
          </div><br/>
          <div>
              Solving the past problems is addressing the Existing Client, shaping the Future is building and adding the new Client.
          </div><br/>
          <div>
              Solving the past problems in making the Product/Service better, shaping the Future is all about crafting the Ecosystem and creating the New Product itself.
          </div><br/>
          <div>
              In solving problems others become your Benchmark, how they did and what they did become the reference point, in shaping the Future we become the Benchmark for everyone.
          </div><br/>
        </div>
      </li>
      <li class="yellow-clr">
        <div style="padding:20px;">
          <p class="mypageheadfont">Our Oath</p>
          <div class="whiteline"></div>
          <div>"While advising a client, we will conduct all services in a Lawful, Prudent and Professional Manner Consistent with the highest standards of Honesty, Integrity and Ethics, ensuring compliance with all the REIA Rules, Bylaws, Code of Ethics and Professional Conduct and all other Relevant Laws. We will act in the client's best interests, above consideration of personal gain."</div>
      </li>
    </ul>
  </ion-content>
</ion-view>
