<ion-view>
  <ion-nav-bar class="bar" align-title="center">
     <ion-nav-back-button class="button-clear" side="left">
            <i class="icon ion-arrow-left-a light"></i> Back
        </ion-nav-back-button>
        <ion-nav-title>
       <h4 class="modaltitle whitefont">Registration Form</h4>
   </ion-nav-title>
   </ion-nav-bar>
  <ion-content>
<b>Are you a adivisor?</b>

<button ui-sref="app.editprofile" >yes</button>
<button ui-sref="app.editprofilebasic">no</button>

  </div>
 </ion-content>
  </ion-view>
