<ion-view>
    <ion-content overflow-scroll="true" class="sidemenu m-upwrdz-subpage-content">
          <div class="editpage-title-bar">
            <!-- <img src="../www/img/back_arrow_25px.png" class="back-btn" alt="back arrow" ng-if="changepassword.status  == 'registered'" ui-sref="app.editprofile"> -->
            <img src="../www/img/back_arrow_25px.png" class="back-btn" alt="back arrow"  ui-sref="app.myhub">
            Change Password
          </div>
        <form name="changepasswordform" novalidate ng-submit="changepassword.submit()" ng-init="changepassword.details=''">
            <div class="list list-inset first-inset black-border" ng-if="!changepassword.showPassword">
                <label class="item item-input inset-label">
                    <input type="password" placeholder="Old Password" ng-model="changepassword.details.old_password" ng-required="true" name="old_password" ng-touched />
                </label>
                <div  class="forget-psd-eye1">
                        <div class="fa fa-eye" ng-click="changepassword.toggleShowPassword()"></div>
                    </div>
                <span class="validationerrors" ng-show="changepasswordform.old_password.$error.required && changepasswordform.old_password.$touched"> Old Password is required</span>
            </div>
    
            <div class="list list-inset first-inset black-border" ng-if="changepassword.showPassword">
                    <label class="item item-input inset-label">
                        <input type="text" placeholder="Old Password" ng-model="changepassword.details.old_password" ng-required="true" name="old_password" ng-touched />
                    </label>
                    <div class="forget-psd-eye1">
                            <div class="fa fa-eye-slash"  ng-click="changepassword.toggleShowPassword()" ></div>
    
                        </div>
                    <span class="validationerrors" ng-show="changepasswordform.old_password.$error.required && changepasswordform.old_password.$touched"> Old Password is required</span>
                </div>

            <div class="list list-inset first-inset black-border" ng-if="!changepassword.showPassword1">
                <label class="item item-input">
                    <input type="password" placeholder="New Password" id="newpassword" ng-keyup="changepassword.ValidateEmail1()"  ng-model="changepassword.details.new_password" ng-required="true" name="new_password" ng-touched  />
                </label>
                <div  class="forget-psd-eye2">
                        <div class="fa fa-eye" ng-click="changepassword.toggleShowPassword1()"></div>
                    </div>
                <span class="validationerrors" ng-if="changepassword.details.new_password !=null && changepassword.details.old_password==changepassword.details.new_password && changepasswordform.new_password.$dirty"> new password and old password should  not same</span>
                <span class="validationerrors" ng-if="changepasswordform.new_password.$error.required && changepasswordform.new_password.$touched"> New Password is required</span>
                <span class="validationerrors" ng-show="changepassword.passwordvalue" > Password should contain atleast 1 uppercase, 1 lower case , 1 digit and 1 special character and length minimum 8</span>
          </div>

          <div class="list list-inset first-inset black-border" ng-if="changepassword.showPassword1">
                <label class="item item-input">
                    <input type="text" placeholder="New Password" ng-minlength="8" ng-model="changepassword.details.new_password" ng-required="true" name="new_password" ng-touched ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/" />
                </label>
                <div class="forget-psd-eye2">
                        <div class="fa fa-eye-slash"  ng-click="changepassword.toggleShowPassword1()" ></div>

                    </div>
                <span class="validationerrors" ng-if="changepassword.details.new_password !=null && changepassword.details.old_password==changepassword.details.new_password && changepasswordform.new_password.$dirty"> new password and old password should  not same</span>
                <span class="validationerrors" ng-if="changepasswordform.new_password.$error.required && changepasswordform.new_password.$touched"> New Password is required</span>
                <span class="validationerrors" ng-if="changepasswordform.new_password.$error.pattern  || changepasswordform.new_password.$error.minlength && changepasswordform.new_password.$dirty "> Password should contain atleast 1 uppercase, 1 lower case , 1 digit and 1 special character and length minimum 8</span>
          </div>

            <div class="list list-inset first-inset black-border">
                <label class="item item-input">
                    <input type="password" placeholder="Confirm Password" ng-minlength="8" ng-model="changepassword.details.confirm_password" ng-required="true" name="confirm_password" ng-touched ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/" />
                </label>
                <div ng-if="changepasswordform.confirm_password.$touched">
                  <span class="validationerrors" ng-if="changepassword.details.new_password!=changepassword.details.confirm_password "> New password and confirm password should be same</span>
                </div>
            </div>
            <div class="row">
                    
                        <h6>Password is to prove identity to gain access to your account. Kindly keep it confidential.</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="password-change">
                        <p class="password-font">Your password should:</p>
                        <ol class="">
                            <li>Have minimum 8 characters.</li>
                            <li>Should contain at-least one uppercase, one lowercase alphabet, one numeric digits.</li>
                            <li>Should contain at-least one special characters, such as @, #, $</li>
                            <li>Should not contain a blank space</li>
                        </ol>
                    </div>
                </div>
            <div class="row">
                <button class="full-button" ng-disabled="changepasswordform.$invalid || !(changepassword.details.new_password==changepassword.details.confirm_password) || changepassword.details.old_password==changepassword.details.new_password">SUBMIT</button>
                <br/>
            </div>
            
        </form>
    </ion-content>
</ion-view>
