<ion-view ng-cloak>
    <ion-nav-bar class="m-upwrdz-navbar" align-title="center">
      <!-- <ion-nav-back-button class="button-clear" side="left">
        <i class="icon ion-arrow-left-a light"></i> Back
      </ion-nav-back-button> -->
      <ion-nav-title class="up-logo">
        <img src="img/upwrdz-logo.png" alt="upwrdz-logo">
      </ion-nav-title>
    </ion-nav-bar>
    <ion-content overflow-scroll="true" class="eipv-content">
      <div class="pd-t20">
        <p class="stepone">Step 1- Face Capture</p>
      </div>
      <div class="camera-view">
        <p class="cam-text">please smile</p>
      </div>
      <div class="camera-btns">
        <div class="row">
          <div class="col text-center">
            <a class="button button-icon icon">
              <img src="img/shutter-btn.png" alt="" width="60px">
            </a>
          </div>
          <div class="col text-center">
            <a class="button button-icon icon">
              <img src="img/shutter-btn.png" alt="" width="60px">
            </a>
          </div>
          <div class="col text-center">
            <a class="button button-icon icon">
              <img src="img/shutter-btn.png" alt="" width="60px">
            </a>
          </div>
        </div>
      </div>
    </ion-content>
    <!-- <div class="tabs-striped tabs-top tabs-color-light upwrdz-tabs">
      <div class="tabs">
        <a class="tab-item" href="#">
          <!-- <i class="icon ion-home"></i> -->
          Repute
        </a>
        <a class="tab-item" href="#">
          <!-- <i class="icon ion-star"></i> -->
          Myhub
        </a>
        <a class="tab-item active" href="#">
          <!-- <i class="icon ion-gear-a"></i> -->
          My growth
        </a>
        <a class="tab-item" href="#">
          <!-- <i class="icon ion-gear-a"></i> -->
          My Identity
        </a>
      </div>
    </div> -->
    <div class="bar bar-footer eipv-footer">
      <div class="row">
        <div class="col">
          <ion-checkbox></ion-checkbox>
        </div>
        <div class="col">
          <ion-checkbox></ion-checkbox>
        </div>
        <div class="col">
          <ion-checkbox></ion-checkbox>
        </div>
        <div class="col">
          <ion-checkbox></ion-checkbox>
        </div>
      </div>
      <hr class="pro-line"/>
    </div>
        <!-- <div class="mediumpadding list otherdetails" ng-init="eipvprocess.inputImage=''">
      <form name="eipv" class="list card formcard" novalidate ng-submit="eipvprocess.submit()">
      <div class = "item">
      <div class="smallpad cardheadingfont">Capture image
      <input type="file" accept="image/*" file-change="eipvprocess.eipv_face_capture" ng-model="eipvprocess.eipv_face_capture" >
      <div class="eipv">
      <img ng-src="{{eipvprocess.eipv_face_capture}}"/>
    </div>
    <input type="button" ng-click="eipvprocess.capturedata(eipvprocess.eipv_face_capture,'face')" value="upload">
    </div>
    </div>
    <div class = "item">
    <div class="smallpad cardheadingfont">Capture Aadhar card
    <input type="file" accept="image/*" file-change="eipvprocess.eipv_aadharcard" ng-model="eipvprocess.eipv_aadharcard">
    <div class="eipv">
    <img ng-src="{{eipvprocess.eipv_aadharcard}}"/>
    </div>
    <input type="button" ng-click="eipvprocess.capturedata(eipvprocess.eipv_aadharcard,'aadhar')" value="upload">
    </div>
    </div>
    <div class = "item">
    <div class="smallpad cardheadingfont">Capture Pancard  card
    <input type="file" accept="image/*" file-change="eipvprocess.eipv_pancard" ng-model="eipvprocess.eipv_pancard" >
    <div class="eipv">
    <img ng-src="{{eipvprocess.eipv_pancard}}"/>
    </div>
    <input type ="button" ng-click ="eipv.capturedata(eipvprocess.eipv_pancard,'pancard')" value="upload">
    </div>
    </div>
    <div class = "item">
    <div class="smallpad cardheadingfont">Capture Signature
    <input type="file" accept="image/*" file-change="eipvprocess.eipv_signature" ng-model="eipvprocess.eipv_signature" />
    <div class="eipv">
    <img ng-src="{{eipvprocess.eipv_signature}}"/>
    </div>
    <input type="button" ng-click="eipvprocess.capturedata(eipvprocess.eipv_signature,'signature')" value="upload">
    </div>
    </div>
    <button class="button buttoninset whitefont pinkbutton" >SUBMIT</button>
    </form>
    </div> -->
</ion-view>
