<ion-view>
    <ion-content overflow-scroll="true" class="sidemenu m-upwrdz-subpage-content">
        <div class="editpage-title-bar">
          <img src="../www/img/back_arrow_25px.png" class="back-btn" alt="back arrow" ng-if="sidemenu.status == 'non_registered'" ui-sref="start.eipv">
          <img src="../www/img/back_arrow_25px.png" class="back-btn" alt="back arrow" ng-if="sidemenu.status == 'registered'" ui-sref="app.editprofile">
          <img src="../www/img/back_arrow_25px.png" class="back-btn" alt="back arrow" ng-if="sidemenu.status == 'confirmed'" ui-sref="app.myhub">
          FAQ
        </div>
        <div class="row">
            <div class="col">
              Coming Soon..
            </div>
        </div>
    </ion-content>
</ion-view>
