<ion-modal-view>
<ion-header-bar class="bar">
    <div ng-click="track.cancel(track.modal)">
    <i class="icon ion-arrow-left-c light header-arrow-left"></i>
  </div>
  <div>
    <h4 class="modaltitle whitefont">How to Redeem Points</h4>
</div>
 </ion-header-bar>
 <ion-content overflow-scroll="true">
   <div class="list card" style="box-shadow:none;padding:10px;">
     <p>You have two ways to redeem the points that you have earned. </p>
          1. Shop and redeem </br>
          2. Get cash back </br></br>
    <b>Shop and redeem </b>
    <p> REIA brings you some exclusive visual merchandising that will not only solve everyday issues, but will also help you develop your business. You can redeem the points in buying them. You also get some special discounts while redeeming them.</p>
    <b>Get cash back </b>
    <p>You can apply to get cash back for the points you have earned, once you achieve the redemption target.</p>
    <b>When to redeem the points? </b>
    <p>You can redeem the points at the end of every year from the date of your points earned or after achieving 1000 points, whichever is earlier.</p>
    <b>Can anyone redeem the points earlier? </b>
    <p>No, it is not possible; minimum target of 1000 points has to be achieved to redeem or it should have been one year after joining.</p>
    <b>Can I transfer the points to others?</b>
    <p>The points are not transferable.</p>
    <b>How do I know how many points I have earned? </b>
    <p>You can see your points in the dash board; we will also be sending you mails at regular intervals on points update.</p>
    </div>
  </ion-content>
</ion-modal-view>
