<ion-view>
    <ion-nav-bar class="bar" align-title="center">
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-navicon-round light" ng-click="toggleDrawer();"></button>
    </ion-nav-buttons>
    <ion-nav-title>
         <h4 class="modaltitle whitefont">LOOP</h4>
    </ion-nav-title>
  </ion-nav-bar>
    <ion-content overflow-scroll="true" >
        <div class="card list loop" style="box-shadow:none;">
            <h7 class="mypageheadfont">Sharing is Caring</h7>
            <h6 class="mypagetitlefont green-color-font">How it works</h6>
            <div class="images">
                <img src="../images/07_01Looppoints.png"/>
            </div>
            <ol class="mypagetitlefont">
                <li>You can LOOP any Advisor from any location.</li>
                <li> All you have to do is to share Name, Email ID, Mobile number and the City of the Proposed Advisor in the given Form, we will contact them with your reference.</li>
                <li> This Advisor will be added in your LOOP.</li>
                <li> Every time when you refer an Advisor you earn 10 Points.</li>
                <li> On the registration of the Advisor you get another 10 Points.</li>
                <li> On certification of the Advisor you get another 10 Points.</li>
                <li> On the first transaction of the Advisor you get 10 Points.</li>
                <li> On verification of the Advisor you get 10 more Points.</li>
                <li> Every time when that Advisor introduces any other Advisor you get 2 Points.</li>
                <li> Every time when that Advisor does a transaction you get 1 point.</li>
                <li> When you get 100 Points you get bonus of 5 more Points.</li>
                <li> On every 100 Points you reach you get an additional bonus Points as surprise.</li>
                <li> Every Point has a monetary value.</li>
                <li> You can redeem these Points at the end of every year.</li>
            </ol><br/>
            <div>
                <h7 class="row mypageheadfont green-color-font" style="text-align:center;margin:auto;">Terms And Conditions</h7>
                <ol class="mypagetitlefont">
                    <li>You can always share, connect, and discuss opportunities.</li>
                    <li> You will get the first information on their activities.</li>
                    <li> You can share your activities to them.</li>
                    <li> You will be peer rated and you can rate and rank them through peer rating.</li>
                </ol><br/>
            </div><br/>
            <div>
                <div class="mypageheadfont greencolor" style="text-align:center;"><strong>Start Looping Now</strong></div>
                <div style="text-align:center;padding:20px;">
                    <button class="button round-btn pinkbutton cardtextfont" style="max-width:100px;text-align:center;min-height:40px;line-height:2px !important;" ui-sref="app.page.requestadvisor"><img src="img/loop.png"/></button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
