<ion-view>
    <ion-content overflow-scroll="true" class="sidemenu m-upwrdz-subpage-content">
      <div class="editpage-title-bar">
        <img src="../www/img/back_arrow_25px.png" class="back-btn" alt="back arrow" ng-if="sidemenu.status == 'non_registered'" ui-sref="start.eipv">
        <img src="../www/img/back_arrow_25px.png" class="back-btn" alt="back arrow" ng-if="sidemenu.status == 'registered'" ui-sref="app.editprofile">
        <img src="../www/img/back_arrow_25px.png" class="back-btn" alt="back arrow" ng-if="sidemenu.status == 'confirmed'" ui-sref="app.myhub">
        Privacy Policy
      </div>
    <div class="row">
        <div class="col">
            <p> This ABOTMI website is owned and operated by Datanet Techno Solutions Private Limited. We are committed to protecting the privacy of our visitors while they interact with the content and services on this site. This Privacy Policy applies to the site only and does not apply to any other websites to which we link. You agree that your use of the site signifies your assent to this Privacy Policy. If you do not agree with the Privacy Policy, please do not use this site.</p>
            <p>We value the trust you place in ABOTMI. That’s why we insist on the highest standards to secure the customer information privacy. Read the statement in order to understand the information gathering and dissemination practices.</p>
            <p>Our Privacy Policy is subject to changes from time to time and to make sure you are aware of such change please read the policy from time to time.</p>
            <p>This Privacy Policy is an electronic record in the form of an electronic contract made under the Information Technology Act, 2000 and the rules made thereunder the amended provisions relating to electronic documents/records in various statutes as amended by the Information Technology Act, 2000. This privacy policy does not require any physical, electronic signature.</p>
            <p>This Privacy Policy is a legally binding document between you and ABOTMI. The terms of this Privacy Policy will be effective upon the acceptance of the same and will govern the relationship between you and ABOTMI.</p>
            <p>You hereby provide your unconditional consent to ABOTMI provided under section 43A and 72A of the Information Technology Act, 2000.</p>
            <p>The word expressions “You” or “Your” mean to be the person who is a registered user, accessing the website.</p>
            <p>“ABOTMI”, “The Company”, “We”, “Ourselves”, “US” refers to Datanet Techno Solutions Private Limited.</p>
            <p>Any terms used either in singular, plural, capitalization and/or he/she or they are understood as interchangeable and thus referred as the same.</p>
            <p>
                <h5>Information Collected</h5>
                <p>In order to fully access this site, you must first complete the registration process, where we will collect personal information about you. By registering with us, you consent to the use and method of disclosure as described in this Privacy Policy.</p>

                <h5>Sign Up Page</h5>
                <p>We use the information available on the social media of the user and in case the user does not have a valid Social Media to sign up, then in such case he has to create the Social Media login and then sign up. When you sign up through social media there is certain information that we collect through the social media platform, including but not limited to:</p>
                <ol>
                  <li>User name</li>
                  <li>First name </li>
                  <li>Last name</li>
                  <li>Date of birth</li>
                  <li>Age</li>
                  <li>Gender</li>
                  <li>Email</li>
                  <li>Current city</li>
                  <li>Home town</li>
                </ol>
            <p>Your user identifier information regarding certain third party services, i.e. Facebook, Google+, LinkedIn can be used as necessary for the application to interoperate with such third party services. In that case ABOTMI will store and process that information also (and also a mapped photo where applicable), for as long as You use the Services and will not use this information for any other purpose than required in order to obtain interoperability and functionality in relation to such third party services. Please note that we never store any passwords to the mentioned third party services.<p>

            <p>In addition to Contact Information, if You choose to activate use of a third party social network service, such as Facebook, Google+, LinkedIn, etc. within the ABOTMI, ABOTMI may up-load, store and use the list of identifiers associated with said services linked to the Contact Information in order to enhance the results shared with other Users.</p>

            <h5>KYC Registration Page</h5>

            <p>You will be asked to carry out a KYC and background verification through a third party. You hereby consent to providing the details and information as required to carry out such KYC and background verification, which will include and not limited to:</p>

            <h5>Identity Proof</h5>
              <ol>
              <li>Passport</li>
              <li>Driving License</li>
              <li>PAN Card</li>
              <li>Voters ID</li>
              <li>Address proof</li>
            </ol>
            <ol>
              <li>Passport</li>
              <li>Voters ID</li>
              <li>Driving License</li>
              <li>Ration card</li>
              <li>Nationality Proof</li>
              <li>Passport</li>
              <li>PAN Card</li>
            </ol>
            <p>
            You will be governed by the terms of use and Privacy Policy of such third party for such KYC. ABOTMI shall take no liability or will not be held responsible for any information that you share with such third parties and the use of such information by the third parties.
            </P>
            <h5>
            Non-Personal Information
            </h5>
            <p>
            We may also collect information other than Personal Information from you through the website when you visit and / or use the website. Such information may be stored in server logs. This Non-Personal Information would not assist us to identify you personally.</p>

            <h5>Cookies</h5>

            <p>Our site uses “cookies” and other tracking technologies. Cookies enable us to serve secure pages to our users without asking them to sign in repeatedly. Most browsers allow you to control cookies, including whether or not to accept them and how to remove them. If a user’s system is idle for a defined time, the cookie will expire, forcing the user to sign in again to continue their session. This prevents unauthorized access to the user’s information while they are away from their computer. You may set most browsers to notify you if you receive a cookie, or you may choose to block cookies with your browser, but note that if you choose to erase or block your cookies, you will need to re-enter your original user ID and password to gain access to certain parts of the site.</p>

            <p>How we use your Information</p>

            <p>Information related to the User or Contact Information will be used to:</p>

            <p>(a) display the name and other information associated with a certain profile on ABOTMI,</p>

            <p>(b) provide selected ABOTMI partners with limited information in order to enhance user experience, service functionality and data accuracy, provided that these partners adhere to strict confidentiality provisions no less protective of your rights than the Terms of Service and this Privacy Policy,</p>

            <p>(c) contacting You from ABOTMI for verification purposes or with information pertaining to the Services, e.g. newsletter emails and similar notifications, and verify provided User Profile information with third party providers,</p>

            <p>(d) enable You to use and share Your user information in connection with Your use of third party services,</p>

            <p>(e) customize, maintain, measure, improve our Services and develop new ones,</p>

            <p>(f) personalize, measure and improve our advertising and use geo-location information to provide You with location based information and services (such as more relevant advertising, search results and other personalized content).</p>

            <p>ABOTMI will not disclose, use or give any personal information to third parties for any purposes other than to other third parties who need to know in order to deliver services on behalf of ABOTMI or unless required to do so by law. Further, ABOTMI reserves the right to contact you regarding matters relevant to the underlying service provided and the information collected.</p>

            <p>We may permit certain trusted third parties to track usage, analyze data, such as the source address that a page request is coming from, your IP address or domain name, the date and time of the page request, the referring Web site (if any) and other parameters in the URL. This is collected in order to better understand our Web site usage, and enhance the performance of services to maintain and operate the site and certain features on the site. We may use third parties to host the site, operate various features available on the site, send emails, analyze data, provide search results. Also, we may share personally other information with our parent, subsidiaries, divisions and affiliates.</p>

            <p>ABOTMI may disclose Contact Information in special cases where we have reason to believe that disclosing this information is necessary to identify, contact or bring legal action against someone who may be violating the terms and conditions of use or may be causing injury or interference with our rights, property, our customer or anyone who could be harmed by such activities.</p>

            <p>How we protect your Information</p>

            <p>We are committed to protecting the information we receive from you. We take appropriate security measures to protect your information against unauthorized access to or unauthorized alternation, disclosure or destruction of data. To prevent unauthorized access, maintain data accuracy and ensure the correct use of information, we maintain appropriate physical, electronic and managerial procedures to safeguard and secure the information and data stored on our system. While no computer system is completely secure, we believe the measures we have implemented reduce the likelihood of security problems to a level appropriate to the type of data involved.</p>

            <p>Accessing and Updating your personal information and preferences</p>

            <p>We provide mechanisms for updating and correcting your personal information for many of our services. You may modify or remove any of your personal information at any time by logging into your account and accessing your profile page.</p>

            <h5>Email Choice/Opt-out</h5>

            <p>If any user who receives an email from the site and would prefer not to receive such communication in the future. He or She can do by following the instructions in the emails. In addition, you may send an email to contact@abotmi.com. We will make commercially reasonable efforts to implement your opt-out requests promptly.</p>

            Disclaimer to Security

            <p>By consenting to the terms and conditions of the site and hence the Privacy Policy, you consent that no data transmission over the internet is secure. We cannot guarantee or warrant the security of any information you provide to us and you transmit such information at your own risk.<p>

            <p>Contact Information</p>

            <p>If you have any discrepancies or have any grievances in relation to the collection, storage, use, disclosure and transfer of Your Personal Information under this Privacy Policy or any terms of ABOTMI's Terms of Use, Terms of Sale and other Terms and Conditions or Polices of any ABOTMI entity.
            Please Contact: contact@abotmi.com.</p>

        .</div>
    </div>
</ion-content>
</ion-view>
