<ion-view>
  <ion-nav-bar class="bar" align-title="center">
    <ion-nav-back-button class="button-clear" side="left">
        <i class="icon ion-arrow-left-a light"></i> Back
    </ion-nav-back-button>
    <ion-nav-title>
       <h4 class="modaltitle whitefont">Sign Up</h4>
    </ion-nav-title>
  </ion-nav-bar>
  <ion-content>
<div align="center" >
  <sm-signup></sm-signup>
  <div>OR</div>
</div>
<div align="center" class = "signupdirect"  ui-sref ="signupdirect" class = "white-font"><u>SignUP Using Email</u></div>
  </ion-content>
</ion-view>
