<ion-view ng-cloak>
<ionic-content>
<div class ="starteipv">

To do e-IPV your application access your camera. If the
application asks for permission, please allow.
<p>

You will be asked to record your face.
Please male sure only face is covered in the verification video.
You will be asked to show your Aadhar card.
You will be asked to show your PAN card.
You will be asked to show your Signature on A4 sheet.
</p>
</div>
<button class="button buttoninset whitefont pinkbutton" ui-sref="start.eipv" >SUBMIT</button>
</ionic-content>
</ionic-view>
