<ion-view>
    <ion-content overflow-scroll="true" class="sidemenu m-upwrdz-subpage-content">
          <div class="editpage-title-bar">
              <img src="../www/img/back_arrow_25px.png" class="back-btn" alt="back arrow" ng-if="sidemenu.status == 'non_registered'" ui-sref="start.eipv">
              <img src="../www/img/back_arrow_25px.png" class="back-btn" alt="back arrow" ng-if="sidemenu.status == 'registered'" ui-sref="app.editprofile">
              <img src="../www/img/back_arrow_25px.png" class="back-btn" alt="back arrow" ng-if="sidemenu.status == 'confirmed'" ui-sref="app.myhub">
              
            Terms & Conditions
          </div>
          <div class="row terms-condition">
            <div class="col">
              <p> Welcome to the signing up to ABOTMI (“ABOTMI Global”, “us”, “we”, “our”) application and its related services. You are permitted the usage of only specific areas of the ABOTMI application unless signed up with ABOTMI.
                  The terms and conditions governing the materials submitted by you and your use of our applications shall all be governed by the general terms and conditions of ABOTMI.</p>
              <h4>Signing Up</h4>
              <ol>
                <li>
                  By signing up and creating your account, you can access different services that are offered by ABOTMI. Should a service you wish to subscribe to,
                  have additional terms and conditions, you shall be asked to accept them separately.
                </li>
                <li>
                  You agree that :
                  <ul>
                    <li>You will keep your user name and password safe.</li>
                    <li>You shall not assume the identity of any other person,
                      whether alive or dead, or create multiple, false accounts.</li>
                  </ul>
                </li>
              </ol>
              <h4>Termination</h4>
              <ol>
                <li>ABOTMI reserves the right to deactivate your account on your breach of any terms and conditions.</li>
                <li>If you personally wish to de-activate your account, kindly contact the ABOTMI customer service department.</li>
              </ol>
              <h4>Administration</h4>
              <p>You can update your personal details by accessing your account and making necessary changes.</p>
              <h4>Data</h4>
              <p>Details pertaining to our usage of cookies on the ABOTMI website and your information can be found in the ABOTMI privacy policy.</p>
            </div>
          </div>
    </ion-content>
</ion-view>
