<ion-tabs class="tabs-icon-top upwrdz-tabs">
    <!--Commented for now as it is not included in current release
    <ion-tab title="REPUTE" ui-sref="app.repute">
        <ion-nav-view name="repute"></ion-nav-view>
    </ion-tab>-->
    <ion-tab title="MY HUB" ui-sref="app.myhub">
        <ion-nav-view name="myhub"></ion-nav-view>
    </ion-tab>
    <ion-tab title="MY GROWTH" ui-sref="app.mygrowth">
        <ion-nav-view name="mygrowth"></ion-nav-view>
    </ion-tab>
    <ion-tab title="MY IDENTITY" ui-sref="app.myidentity">
        <ion-nav-view name="myidentity"></ion-nav-view>
    </ion-tab>
</ion-tabs>