{% extends 'nfadmin/admin_base.html' %}
{% load staticfiles %}
{% load static %}

<!-- admin left-side-menu -->
{% block sidebar-menu %}
<!-- sidebar menu: : style can be found in sidebar.less -->
<ul class="sidebar-menu">
    <li>
        <a href="/nfadmin/">
            <i class="fa fa-dashboard"></i>
            <span>Dashboard</span>
        </a>
    </li>
    <li>
      <a href="/nfadmin/advisor_list/">
        <i class="fa fa-user text-pink"></i>
        <span>Users</span>
      </a>
    </li>
    <li>
      <a href="/nfadmin/crisil_advisor_list/">
          <img src="/static/admin_theme/dist/img/adminIcons/advisor.png" alt="">
        <span>CRISIL Advisors</span>
      </a>
    </li>
    <li>
        <a href="/nfadmin/affiliated_companies/">
            <img src="/static/admin_theme/dist/img/adminIcons/company-appliated.png" alt="">
            <span>Affiliated Companies</span>
        </a>
    </li>
    <li>
        <a href="/nfadmin/add_client_list/">
            <img src="/static/admin_theme/dist/img/adminIcons/client-icon.png" alt="">
            <span>Clients</span>
        </a>
    </li>
    <li>
        <a href="/nfadmin/company_spoc/">
            <img src="/static/admin_theme/dist/img/adminIcons/company-spoc.png" alt="">
            <span>Company Spoc</span>
        </a>
    </li>
    <li class="active">
      <a href="/nfadmin/advisor_video_request/">
        <img src="/static/admin_theme/dist/img/adminIcons/company-spoc.png" alt="">
        <span>Video Request</span>
      </a>
    </li>
    <li>
      <a href="/nfadmin/advisor_video_publish/">
        <img src="/static/admin_theme/dist/img/adminIcons/company-spoc.png" alt="">
        <span>Video Publish</span>
      </a>
    </li>
    <li>
      <a href="/nfadmin/subscription-package/">
        <img src="/static/admin_theme/dist/img/adminIcons/company-spoc.png" alt="">
        <span>Subscription Package</span>
      </a>
    </li>
    <li>
      <a href="/nfadmin/regulatory_registration_data_uploaded_url/">
        <img src="/static/admin_theme/dist/img/adminIcons/company-spoc.png" alt="">
        <span>Regulatory Authentication</span>
      </a>
    </li>
    <li>
      <a href="/nfadmin/educational_authentication/">
        <img src="/static/admin_theme/dist/img/adminIcons/company-spoc.png" alt="">
        <span>Educational Authentication</span>
      </a>
    </li>
</ul>
{% endblock %}

{% block content-header %}
<section class="content-header">
    <h1>Advisor Video Request</h1>
    <!-- breadcrumb -->
    <ol class="breadcrumb">
        <li><a href="/nfadmin/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>
{% endblock %}

<!-- Main content -->
{% block main-content %}
<section class="content">
    <div id="video_request_table" class="dataTables_wrapper form-inline dt-bootstrap">
        <div class="row">
            <div class="col-xs-12">
                <div class="box adm-box">
                    <div class="box-header">
                        <h3 class="box-title">Advisor Video Request Table</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <table id="example2" class="table table-bordered table-striped dataTable">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Mobile</th>
                                    <th>Created Date</th>
                                    <th>Status</th>
                                    <th>Manage</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for advisor in video_request %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>
                                        {{ advisor.user_profile.first_name }}
                                        {{ advisor.user_profile.last_name }}
                                    </td>
                                    <td>{{advisor.user_profile.email}}</td>
                                    <td>{{advisor.user_profile.mobile}}</td>
                                    <td>
                                        {{ advisor.created_date }}
                                    </td>
                                    <td align="center">
                                        {% if advisor.status == VIDEO_REQUEST_STATUS %}
                                              <small class='label pull-center bg-yellow'>
                                                {{advisor.status}}
                                            </small>
                                        {% endif%}
                                        {% if advisor.status == VIDEO_REQUEST_APPROVED %}
                                        <small class='label pull-center bg-green'>
                                                {{advisor.status}}
                                            </small>
                                        {% endif%}
                                    </td>
                                    <td>
                                        {% if advisor.status == VIDEO_REQUEST_STATUS %}
                                            <button type="button" id="{{ advisor.id }}" class="btn btn-warning" onclick='approve_video_request(id);' title="Approve">
                                                <i class="glyphicon glyphicon-ok"></i>
                                            </button>
                                        {% endif%}
                                        {% if advisor.status == VIDEO_REQUEST_APPROVED %}
                                            <button type="button" id="{{ advisor.id }}" class="btn btn-success" title="Approved">
                                                <i class="glyphicon glyphicon-ok"></i>
                                            </button>
                                        {% endif %}
                                        <button type="button" id="{{ advisor.user_profile_id }}" class="btn btn-primary" onclick='view_video_request_details({{ advisor.user_profile_id }}, {{ advisor.id }});' title="View">View </button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Mobile</th>
                                    <th>Created Date</th>
                                    <th>Status</th>
                                    <th>Manage</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div>
</section><!-- /.content -->

<!-- View video_request_details Modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" id="id_video_request_details_modal" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">Video request Details</h4>
            </div>
            <div class="modal-body" id="id_body_video_request_details_modal">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- End of video_request_details Modal -->

<script>
    function approve_video_request(id){
        var token = "{{ csrf_token }}";
        $.ajax({
            type:"POST",
            url:"/nfadmin/approve_video_request/",
            beforeSend: function(request){
                request.setRequestHeader("X-CSRFToken", token)
            },
            data:{ 'advisor_id':id },
            success:function(response){
                $("#video_request_table").load("advisor_videorequest_list_view.html #video_request_table");
            }
        });
    }

    function view_video_request_details(id, video_id){
        var token = "{{ csrf_token }}";
            $.ajax({
            type:"POST",
            url:"/nfadmin/view_video_request_details/",
            beforeSend: function(request){
                request.setRequestHeader("X-CSRFToken", token)
            },
            data:{ 'advisor_id':id, 'video_id':video_id},
            success : function(response){
                $('#id_body_video_request_details_modal').html('');
                $('#id_body_video_request_details_modal').html(response);
                $('#id_video_request_details_modal').modal('show');
            }
        });
    }
</script>
{% endblock %}
