<div class="modal fade bs-example-modal-lg" tabindex="-1" id="testimonial_modal" role="dialog" aria-labelledby="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="gridSystemModalLabel">Create Testimonial</h4>
            </div>
            <form name="testimonial_form" action="/nfadmin/publish_testimonial/" onsubmit="return testimonialValidateForm()" method="post" enctype="multipart/form-data" accept="image/gif,image/jpeg" >
                {% csrf_token %}
                <div class="modal-body" id="id_body_create_package">
                    <div class="col-md-12" id="form_div">
                        <input type="hidden" name="testimonial_id" value="{{testimonial_obj.id|default:''}}">
                        <label>Description</label>
                        <div><input type="text" class="form-control form-group" name="description" value="{{testimonial_obj.description}}"id="description">
                        <span class="help-block"><p id="description_error"></p></span></div>
                        <label>Picture</label>
                        <span {% if not testimonial_obj.picture %} class="hide"{% endif %} id="up_view">
                            <a class="face-capture-btn" onclick="preview_image('{% if testimonial_obj.picture %} {{testimonial_obj.picture.url}} {% endif %}') ;" data-toggle="tooltip" data-placement="bottom" title="Preview image">
                            <i class="fa fa-eye upload-icons" aria-hidden="true"></i>
                            </a>
                            <a class="face-capture-btn" onclick="edit_image()" data-toggle="tooltip" data-placement="bottom" title="Re Upload">
                            <i class="glyphicon glyphicon-trash download_link_color upload-icons" aria-hidden="true"></i></a>
                        </span>
                        <span {% if testimonial_obj.picture %} class="hide"{% endif %} id="up_btn">
                            <button type="button" class="btn btn-success cmp-btn" id="id_edit" onclick="edit_image()">Upload Picture</button>
                        </span>
                        <input type="hidden" name="documents_type" id="documents_type" value="testimonial_picture">
                        </br><label>Endorser</label>
                        <div><input type="text" class="form-control form-group" name="endorser" value="{{testimonial_obj.endorser}}" id="endorser">
                        <span class="help-block"><p id="endorser_error"></p></span></div>
                        <label>Company</label>
                        <div><input type="text" class="form-control form-group" name="company" value="{{testimonial_obj.endorser_company}}"id="company">
                        <span class="help-block"><p id="company_error"></p></span></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success cmp-btn" id="upload" >Create</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- End create package modal -->
