    <div class="row n-margin-0">
        <div class="col-md-4">
            <p><label for="Company_name"> Video title: </label>
            <span>{{video_request_details.video_title}}</span></p>
        </div>
        <div class="col-md-4">
            <p><label for="company_tagline"> Video descrption: </label>
            <span>{{video_request_details.video_description}}</span></p>
        </div>
        <div class="col-md-4">
            <p><label for="company_url"> Location: </label>
            <span>{{video_request_details.location}}</span></p>
        </div>
        <div class="col-md-4">
            <p><label for="company_url"> Shoot_date: </label>
            <span>{{video_request_details.shoot_date}}</span></p>
        </div>
        <div class="col-md-4">
            <p><label for="company_url"> Status: </label>
            <span>{{video_request_details.status}}</span></p>
        </div>
        <div class="col-md-4">
            <p><label for="company_url"> Created_date: </label>
            <span>{{video_request_details.created_date}}</span></p>
        </div>
        <div class="col-md-4">
            <p><label for="company_url"> Modified_date: </label>
            <span>{{video_request_details.modified_date}}</span></p>
        </div>
    </div>
