<ion-view>
    <ion-side-menus>
        <ion-side-menu-content>
            <ion-view>
                <upwrdz-Tabs></upwrdz-Tabs>
                <ion-content>
                    <div overflow-scroll="true" class="m-upwrdz-editpage-content">
                        <div class="editpage-title-bar">
                          <img src="../www/img/back_arrow_25px.png" class="back-btn" alt="back arrow" back>
                          TERMS AND CONDITIONS
                        </div>
                        <div class="form-group registration-form-div pull-left client_information"  id="client_management" name="client_management">
                            <p>In all the following cases the words “I” & “me” refers to the “Registered Advisor” and the word “ABOTMI” denotes Datanet Techno Solutions Pvt Ltd.</p>
                            <p>
                                <ol>
                                    <li>I agree and state that I am a Registered Advisor on the ABOTMI platform.</li>
                                    <li>I agree and state that I am solely responsible for the client addition made and will not hold ABOTMI responsible for the same. </li>
                                    <li>I agree and state that I have intimated my client of such addition on the ABOTMI platform and have obtained prior approval & consent from him to do the same.</li>
                                    <li>I agree and state that I am authorized by the client to perform all actions deemed necessary to initiate the investment process, if any, on the client’s behalf.</li>
                                    <li>I agree to indemnify ABOTMI from the client addition process and all such processes that lead to initiating the investment on client’s behalf.</li>

                                    <li>I agree and state that I shall be solely responsible for any action taken on behalf of my client and the outcome of action thereon. The client shall not hold ABOTMI or Uplyf responsible for any such actions.</li> 
                                    <li>I shall at all times observe the high legal and ethical standards as set down by  ABOTMI and shall be responsible for the implementation of all or any policies deemed fit by  ABOTMI. I shall put in my best efforts to render services that are satisfactory to ABOTMI.</li>
                                    <li>I will at all times, strictly abide by the Code of Business Conduct and Ethics more particularly described on the website of ABOTMI.</li>
                                    <li>I shall not engage in any conduct or action, which would result in any conflict of interest with ABOTMI, and which is more particularly described in the Code of Business Conduct and Ethics as available on the website of ABOTMI.</li>
                                    <li>I shall not guarantee any minimum return to the customers, shall not charge any fee to customers nor shall I deal in private outside the website with any of the customers with regard to any products or opportunities known to me through ABOTMI and its associated platforms. I shall not provide any schemes, discount or any information which are prohibited from being disclosed along with the services or are prohibited under law.</li>
                                    <li>I shall be solely liable for any guaranteed returns promised to customers which are not agreed with ABOTMI in advance.</li>
                                    <li>ABOTMI shall not be held liable for any communication and information exchanged between me and the client. I accept and acknowledge that I shall not hold ABOTMI responsible for any communication carried out between me and the client.</li>
                                </ol>
                            </p>
                        </div>
                    </div>
                </ion-content>
            </ion-view>
        </ion-side-menu-content>
    </ion-side-menus>
</ion-view>
