<ion-view>
    <ion-side-menus>
        <ion-side-menu-content>
            <ion-view>
                <upwrdz-Tabs></upwrdz-Tabs>
                <ion-content>
                    <div overflow-scroll="true" class="m-upwrdz-editpage-content">
                        <div class="editpage-title-bar">
                          <img src="../www/img/back_arrow_25px.png" class="back-btn" alt="back arrow" back>
                          BENEFITS OF ADDING A CLIENT
                        </div>
                        <div class="form-group registration-form-div pull-left client_information"  id="client_management" name="client_management">
                            <p>We at ABOTMI understand that clients are becoming more tech-savvy. Hence,  it will be increasingly important for advisors to fulfill their digital expectations.</p>
                            <p style="font-weight: bold;">
                            Our Objective is to make Advising to become more personalised, more efficient and more optimised.</p>
                            <ul>
                                We enable financial advisors
                                <li>Reachable via video link/chat/personal messaging.</li>
                                <li>Offer responsive websites/mobile apps.</li>
                                <li>Set-up Client dashboards/self-reporting/interactive interfaces that allow Clients to analyse/visualise in detail the performance of their investments.</li>
                                <li>Provide real-time recommendations based on the client’s behaviours.</li>
                                <li>Create goal-based video games (i.e. applying ‘gamification’ to real estate based investment with a goal-based approach).</li>
                                <li>Get real-time updates of the client’s risk profile and real-time adjustment of the investment mix. Integrated E-KYC for client verification.</li>
                                <li>Aggregation of asset classes to give a 360-degree view of the client’s real-time personal balance sheet.</li>
                                <li>Brokerage for investment products (including third-party products) based on a 360-degree Client view of behaviors and goals.</li>
                            </ul>
                            <p style="font-weight: bold;">
                            Helping YOU to be the digital family office of your Client </p>
                            <p>We hope you can expand your client base by attracting the new on-line generation of Clients. Also, by capturing and integrating client data digitally, investment advisors may eventually be able to consider offering this highly personalised life guidance to families with lower levels of assets - expanding the client base. </p>
                        </div>
                    </div>
                </ion-content>
            </ion-view>
        </ion-side-menu-content>
    </ion-side-menus>
</ion-view>
