<ion-view>
    <ion-side-menus>
        <ion-side-menu-content>
            <ion-view>
                <upwrdz-Tabs></upwrdz-Tabs>
                <ion-content>
                    <div overflow-scroll="true" class="m-upwrdz-editpage-content">
                      <div class="editpage-title-bar">
                        <img src="../www/img/back_arrow_25px.png" class="back-btn" alt="back arrow" back>
                        <h4>Calendly</h4>
                    </div>
                        <div class="form-group registration-form-div pull-left client_information"  id="client_management" name="client_management">
                            <div class="col-md-12">
                                <p class="modal-side-content text-center">If you’d like to connect with an investor, please create a<a href="" ng-click="myhub.calendlylinkmodule()"> basic Calendly plan</a> which is absolutely free!</p>
                            </div>
                            <div class="col-md-12">
                                <h5>Features:</h5>
                                <ul>
                                    <li>Calendar integration with Google Calendar, Office 365, Outlook and iCloud</li>
                                    <li>Schedule unlimited events</li>
                                    <li>Personalized Calendly link</li>
                                    <li>Automated event notifications</li>
                                </ul>
                            </div>
                            <div class="col-md-12">
                                <p>Make your life easier to connect with clients by scheduling appointment time’s that are convenient for you. New and existing clients will appreciate the ease of connecting with you over discovery calls in order to build strong relationships and increase retention rates.</p>
                            </div>
                        </div>
                    </div>
                </ion-content>
            </ion-view>
        </ion-side-menu-content>
    </ion-side-menus>
</ion-view>
