<ion-view>
        <ion-side-menus>
           <ion-side-menu-content>
                <upwrdz-Tabs></upwrdz-Tabs>
                <ion-content class="m-upwrdz-editpage-content">
                  <div class="editpage-title-bar">
                    <img src="../www/img/back_arrow_25px.png"  class="back-btn" back>
                    ADD CALENDLY LINK
                  </div>
                  <form name="calendlyform"   novalidate>
                  <div class="row">
                      <div class="col">
                        <div class="list">
                          <label class="item item-input">
                            <input ng-model="myhub.calendlylink" placeholder="Calendly Link" type="text" name="calendlylink" ng-required="true" ng-touched ng-pattern="/^(http[s]?:\/\/){0,1}(www\.){0,1}[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,5}[\.]{0,1}/"/>
                          </label>
                          <span class="validationerrors" ng-if="calendlyform.calendlylink.$error.required && calendlyform.calendlylink.$touched">Calendly Link is required</span>
                        </div>
                        <div class="row end-button">
                            <button class="full-button" ng-click="myhub.add_calendly(myhub.calendlylink)" ng-disabled="calendlyform.$invalid">Submit</button>
                         </div>
                         </div>
                         </div>
                        </form>
                 </ion-content>
           </ion-side-menu-content>
        </ion-side-menus>
     </ion-view>
    