<ion-view>
    <ion-side-menus>
        <ion-side-menu-content>
				<upwrdz-Tabs></upwrdz-Tabs>
          <ion-content class="m-upwrdz-editpage-content">
            <div class="editpage-title-bar">
              <img src="../www/img/back_arrow_25px.png" class="back-btn" alt="back arrow" back>
              ENTER PAYMENT DETAILS
            </div>
            <form name="paymentform" novalidate ng-submit="crisil.crisil_refdocsubmit();">
							<div class="list list-inset first-inset black-border">
								<label class="item item-input ">
									<input type="text" placeholder="Bank Name" ng-model="crisil.paydetails.payment[0]" name="name" ng-required="true" ng-touched/>
								</label>
                <span class="validationerrors" ng-if="paymentform.name.$error.required && paymentform.name.$touched"> Bank Name is required</span>
							</div>
							<div class="list list-inset first-inset black-border">
								<label class="item item-input ">
									<input type="text" placeholder="Reference Number" ng-model="crisil.paydetails.payment[1]" name="refnum" ng-required="true" ng-touched/>
								</label>
                <span class="validationerrors" ng-if="paymentform.refnum.$error.required && paymentform.refnum.$touched"> Reference Number is required</span>
							</div>
							<div class="list list-inset first-inset black-border">
								<label class="item item-input">
									<input type="text" placeholder="Date Of Payment" readonly="readonly" ng-click="crisil.selectPayDate()" ng-model="crisil.paydetails.dateofpay" name="date" ng-required="true" ng-touched/>
								</label>
                <span class="validationerrors" ng-if="paymentform.data.$error.required && paymentform.date.$touched"> Payment Date is required</span>
							</div>
							<div class="list list-inset first-inset black-border">
								<label class="item item-input readonly" style="border-width:0px;">
									<input placeholder="Amount" type="number" ng-model="crisil.paydetails.payment[3]" name="amount" readonly="true"/>
								</label>
							</div>
							<div class="list list-inset first-inset black-border">
								<label class="item item-input readonly" style="border-width:0px;">
									<input class="form-control" placeholder="Years Selected" name="years_selected" ng-model="crisil.paydetails.no_of_years_selected" type="text" readonly/>
								</label>
							</div>
              <div class="list list-inset first-inset black-border" style="border-width:0px;">
						     <input type="file" capture ="camera" accept="image/*" class="button greenfont white-font cardtextfont" ngf-select placeholder="Bank Reference Document" ng-model="crisil.paydetails.refdoc" valid-file name="doc" ng-required="true" ng-touched/>
					       <span class="validationerrors" ng-if="paymentform.doc.$error.required && paymentform.doc.$touched"> Reference Documemt is required</span>
              </div>
							<div class="row end-button">
								<div class="col">
									<button class="full-button" ng-disabled="paymentform.$invalid">Submit</button>
								</div>
								<div class="col">
									<button class="full-button" ui-sref="app.myhub">Cancel</button>
								</div>
							</div>
						</form>
				</ion-content>
		</ion-side-menu-content>
	</ion-side-menus>
</ion-view>
