<ion-view>
    <ion-side-menus>
      <ion-side-menu-content>
				<upwrdz-Tabs></upwrdz-Tabs>
				<ion-content class="m-upwrdz-editpage-content">
          <div class="editpage-title-bar">
            <img src="../www/img/back_arrow_25px.png" class="back-btn" alt="back arrow" back>
            MAKE PAYMENT
          </div>
          <div class="row">
              <div class="col">
                <p class="text-center">
                  Please add the Payee account details given below and make the payment
                </p>
                <div class="list card" style="box-shadow:none;"><br/>
                  <p class="text-center">
                    Payee Account Details
                  </p>
                  <div class="row">
                    <div class="col col-50">
                      Account Name
                    </div>
                    <div class="col col-50">
                      Datanet Techno Solutions Pvt Ltd
                    </div>
                  </div>
                  <div class="row">
                    <div class="col col-50">
                      Account Number
                    </div>
                    <div class="col col-50">
                      204011148405
                    </div>
                  </div>
                  <div class="row">
                    <div class="col col-50">
                      Bank Name
                    </div>
                    <div class="col col-50">
                      Kotak Mahindra Bank
                    </div>
                  </div>
                  <div class="row">
                    <div class="col col-50">
                      Branch
                    </div>
                    <div class="col col-50">
                      M.G.Road
                    </div>
                  </div>
                  <div class="row">
                    <div class="col col-50">
                      Location
                    </div>
                    <div class="col col-50">
                      Bangalore
                    </div>
                  </div>
                  <div class="row">
                    <div class="col col-50">
                      IFSC Code
                    </div>
                    <div class="col col-50">
                      KKBK0008066
                    </div>
                  </div>
                </div>
                <p class="text-center col-md-offset-1 col-md-10">
                  Once the payment is made, you will need to provide the payment details and upload the relevant document. Please note that your CRISIL verification process will commence only after the relevant payment document is uploaded.
                </p>
              </div>
          </div>
				</ion-content>
        </ion-side-menu-content>
    </ion-side-menus>
</ion-view>
