<ion-view>
    <ion-side-menus>
        <ion-side-menu-content>
				<upwrdz-Tabs></upwrdz-Tabs>
				<ion-content overflow-scroll="true">
            <div class="m-upwrdz-editpage-content">
              <div class="editpage-title-bar">
                <img src="../www/img/back_arrow_25px.png" class="back-btn" alt="back arrow" back>
                FAQ
              </div>
            </div>
            <div class="row">
              <div class="col">
                Coming soon...
              </div>
            </div>
				</ion-content>
        </ion-side-menu-content>
    </ion-side-menus>
</ion-view>
