<ion-view>
        <ion-side-menus>
            <ion-side-menu-content>
                <ion-view>
                    <upwrdz-Tabs></upwrdz-Tabs>
                    <ion-content>
                        <div overflow-scroll="true" class="m-upwrdz-editpage-content">
                          <div class="editpage-title-bar">
                            <img src="../www/img/back_arrow_25px.png" class="back-btn" alt="back arrow" back>
                            <h5>D&B Verification (DBV)</h5>
                          </div>
                        </div>
                        <div class="modal-content upwrdz-log-panel container-size-customise p-3">
                            <div class="fancy-collapse-panel panel-body">
                                <div class="" id="accordion" role="tablist" aria-multiselectable="true">
                                    <div class="upwrdz-log-panel no-border">
                                        <!-- First Tab -->
                                        <div class="panel-heading" role="tab" id="headingOne">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">1. Who can apply to become a D&B Verified Advisor (DBV)?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                            <div class="panel-body">
                                                <p class="text-justify">
                                                    Only an advisor who has submitted all necessary documents and successfully completed registration is eligible to apply to be a DBV. An advisor needs to be a Registered ABOTMI to apply.
                                                </p>
                                            </div>
                                        </div>
                                        <!-- Second Tab -->
                                        <div class="panel-heading" role="tab" id="headingTwo">
                                            <h4 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">2. Who is a D&B Verified Advisor (DBV)?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                            <div class="panel-body">
                                                <p class="text-justify">
                                                    Every registered advisor who receives a D&B verification certificate upon successful verification is awarded the title of DBV.
                                                </p>
                                            </div>
                                        </div>
                                        <!-- Three Tab -->
                                        <div class="panel-heading" role="tab" id="headingThree">
                                            <h4 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">3. What is D&B verification?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                            <div class="panel-body">
                                                <p>It is a process to verify and certify Real estate Investment Advisors. ABOTMI has an exclusive tie-up with D&B - India’s leading rating agency. All the advisors who register with ABOTMI have this unique opportunity to get them verified by D&B.</p>
                                                <p>Based on the self declaration made by registered advisors, D&B will verify the credibility of the advisors with various statutory and regulatory authorities. Advisors or an Advisory firm can choose to apply this Verification.</p>
                                                <p>A certificate will be published upon successful D&B verification.</p>
                                            </div>
                                        </div>
                                        <!-- Four Tab-->
                                        <div class="panel-heading" role="tab" id="headingFour">
                                            <h4 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">4. How to apply for D&B verification?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                            <div class="panel-body">
                                                <p>Advisor can begin the process of application only after registration. He can click on the ‘Apply Now’ button under the DBV application tab on Advisor dashboard (My Page).</p>
                                                <div class="m-auto col-md-10 n-padding-tb-30">
                                                    <img src="/static/images/Apply_cva.png" class="img-fluid center-block" style="width:100%";alt="Apply">
                                                </div>
                                            </div>
                                        </div>
                                        <!--Five Tab  -->
                                        <div class="panel-heading" role="tab" id="headingFive">
                                            <h4 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">5. Why should you apply for D&B verification?
                                                </a>    
                                            </h4>
                                        </div>
                                        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                                            <div class="panel-body">
                                                <p>There are 5 significant reasons why an advisor should apply for D&B verification.</p>
                                                <div class="col-md-12 n-padding-tb-15 n-padding-l-0" style="line-height:1.5;">
                                                    <div class="col-md-1"></div>
                                                    <div class="col-md-2">
                                                        <img src="/static/images/Wcva_01.png" class="img-fluid center-block n-padding-b-15" alt="reason1">
                                                    </div>
                                                    <div class="col-md-2">
                                                        <img src="/static/images/Wcva_02.png" class="img-fluid center-block n-padding-b-15" alt="reason2">
                                                    </div>
                                                    <div class="col-md-2">
                                                        <img src="/static/images/Wcva_03.png" class="img-fluid center-block n-padding-b-15" alt="reason3">
                                                    </div>
                                                    <div class="col-md-2">
                                                        <img src="/static/images/Wcva_04.png" class="img-fluid center-block n-padding-b-15" alt="reason4">
                                                    </div>
                                                    <div class="col-md-2">
                                                        <img src="/static/images/Wcva_05.png" class="img-fluid center-block n-padding-b-15" alt="reason5">
                                                    </div>
                                                    <div class="col-md-1"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Six Tab -->
                                        <div class="panel-heading" role="tab" id="headingSix">
                                            <h4 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">6. Is D&B verification done free of cost?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                                            <div class="panel-body">
                                                <p>No, a registered advisor will have to make payment to ABOTMI to apply for D&B verification.
                                                </p>
                                            </div>
                                        </div>
                                        <!--Seven Tab  -->
                                        <div class="panel-heading" role="tab" id="headingSeven">
                                            <h4 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">7. What is the fee an Advisor will have to pay to apply for D&B verification?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                                            <div class="panel-body">
                                                <p>An advisor will have to make a payment of Rs.11000/- plus applicable taxes to apply for D&B verification.</p>
                                            </div>
                                        </div>
                                        <!-- Eight Tab -->
                                        <div class="panel-heading" role="tab" id="headingEight">
                                            <h4 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">8. What will the advisor receive upon successful completion of D&B verification?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
                                            <div class="panel-body">
                                                <p>Advisor will receive a certificate recognizing him as a D&B Verified Advisor’ (DBV). The same will also be updated on his Digital profile (My Track). The advisor can download the certificate and use it to increase credibility in the advisory space.</p>
                                            </div>
                                        </div>
                                        <!-- Nine Tab -->
                                        <div class="panel-heading" role="tab" id="headingNine">
                                            <h4 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">9. What is the validity of the DBV certificate?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
                                            <div class="panel-body">
                                                <p>DBV certification is valid for the tenure for which the application was made by the advisor. Currently, an advisor can apply for 1, 2 or 3 years at a time. </p>
                                            </div>
                                        </div>
                                        <!-- Ten Tab  -->
                                        <div class="panel-heading" role="tab" id="headingTen">
                                            <h4 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen" aria-expanded="false" aria-controls="collapseTen">10. How to renew DBV Certification?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseTen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
                                            <div class="panel-body">
                                                <p>DBV certification will have to be renewed upon expiry of the subscribed tenure. The renewal process in similar to a new application.</p>
                                                <div class="m-auto col-md-10 n-padding-tb-30">
                                                    <img src="/static/images/RenewalCVA.png" class="img-fluid center-block" style="width:100%"; alt="Renew">
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Eleven Tab -->
                                        <div class="panel-heading" role="tab" id="headingEleven">
                                            <h4 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">11. What are the special circumstances to renew D&B Certification?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseEleven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEleven">
                                            <div class="panel-body">
                                                <p>Under the following situations, D&B verification will cease to be valid even before the completion of the subscribed tenure and will have to be renewed upon additional payment and inspection:</p>
                                                    <ol>
                                                        <p>1.If the advisor changes his business location from one place to another during the year.</p>
                                                        <p>2.If the advisor changes the organization that he works for during the year.</p>
                                                        <p>3.If the advisor makes any change in the KYC documents provided to ABOTMI/D&B during the year.</p>
                                                        <p>4.If the advisor makes any change in his communication or business address, e-mail and mobile number during the year.</p>
                                                        <p>5.If the advisor adds any certification details such as SEBI, NISM, IRDA etc. during the year.</p>
                                                    </ol>
                                                <p>The advisor will have to make a payment of Rs.6750/- plus taxes whenever an event as mentioned above occurs. This is to ensure that D&B verification is up to date and valid with current information at any given point of the time in the year.</p>
                                            </div>
                                        </div>
                                        <!-- Twelve Tab -->
                                        <div class="panel-heading" role="tab" id="headingTwelve">
                                            <h4 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">12. Are there any discounts or offers for Advisors applying for DBV?
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseTwelve" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwelve">
                                            <div class="panel-body">
                                                <p>Currently, Advisors are being offered ‘Pay 2 Get 3’ offer. Under this offer, advisors applying for DBV recognition for a term of 2 years will be offered an extra year of DBV certification free of cost. Therefore, on payment of 2 years DBV fee, an advisor gets 3 years of DBV certification.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-content>
        </ion-view>
    </ion-side-menu-content>
</ion-side-menus>
</ion-view>
    