<ion-view>
        <ion-side-menus>
            <ion-side-menu-content>
                <ion-view>
                    <upwrdz-Tabs></upwrdz-Tabs>
                    <ion-content>
                        <div overflow-scroll="true" class="m-upwrdz-editpage-content">
                          <div class="editpage-title-bar">
                            <img src="../www/img/back_arrow_25px.png" class="back-btn" alt="back arrow" back>
                            <h5>HOW IT WORKS</h5>
                          </div>
                            <div class="form-group registration-form-div pull-left client_information"  id="client_management" name="client_management">
                              <div class="row">
                                <div class="col">
                                  <p>
                                    ABOTMI enables users of the platform to post questions. The functionality Give Your Advice enables every Digital Asset Advisor to provide advice on the relevant topics. In return you receive the capability to grow your awareness, build your reputation and attract more clients to connect with.
                                  </p>
                                </div>
                              </div>
                            </div>
                        </div>
                    </ion-content>
                </ion-view>
            </ion-side-menu-content>
        </ion-side-menus>
    </ion-view>
    