<ion-view>
    <ion-side-menus>
        <ion-side-menu-content>
            <ion-view>
                <upwrdz-Tabs></upwrdz-Tabs>
                <ion-content>
                    <div overflow-scroll="true" class="m-upwrdz-editpage-content">
                      <div class="editpage-title-bar">
                        <img src="../www/img/back_arrow_25px.png" class="back-btn" alt="back arrow" back>
                        HOW TO ADD A CLIENT
                      </div>
                        <div class="form-group registration-form-div pull-left client_information"  id="how_to_add_your_client" name="how_to_add_your_client">
                            <p>
                                Add a Client
                                <ul>
                                    <li>You can register your client on his/her behalf.</li>
                                    <li>Key in all the necessary KYC details of your client.</li>
                                    <li>Click “Save & Close”.</li>
                                    <li>A confirmation mail would be sent to both you and your client.</li>
                                    <li>Your client has to upload the required documents.</li>
                                    <li>Once the required documents are uploaded, on confirmation and verification, you and your client would get the login credentials.</li>
                                    <li>you can manage your client’s investments through your dashboard, with his/her consent.</li>
                                </ul>
                            </p>
                            <p>
                                Add multiple Clients
                                <ul>
                                    <li>Adding multiple clients is similar to Add a client procedure.</li>
                                    <li>Key in all the necessary KYC details of your client.</li>
                                    <li>Click “Save & Add Client”.</li>
                                    <li>Continue with the steps listed in Add a client procedure.</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                 </ion-content>
            </ion-view>
        </ion-side-menu-content>
    </ion-side-menus>
</ion-view>
