<ion-view>
        <ion-side-menus>
            <ion-side-menu-content>
                <ion-view>
                    <upwrdz-Tabs></upwrdz-Tabs>
                    <ion-content>
                        <div overflow-scroll="true" class="m-upwrdz-editpage-content">
                          <div class="editpage-title-bar">
                            <img src="../www/img/back_arrow_25px.png" class="back-btn" alt="back arrow" back>
                            <h5>MICRO LEARNING</h5>
                          </div>
                            <div class="form-group registration-form-div pull-left client_information"  id="client_management" name="client_management">
                              <div class="row">
                                <div class="col">
                                  <p>
                                    ABOTMI Facilitating Advisors to Create and Share 2 Minutes Curated Videos to Showcase Their Advisory Skills and Product Knowledge to the World.
                                  </p>
                                </div>
                              </div>
                            </div>
                            <div class="row text-center pt-3">
                                <div class="col-md-12">
                                    <p class="text-center">It’s easy and simple to share the videos through your personal social media.</p>
                                    <ul class="share_icons micro-learning-social-media">
                                        <li><img src="../www/img/facebook-logo.png"></li>
                                        <li><img src="../www/img/linkedin-logo.png"></li>
                                        <li><img src="../www/img/twitter.png"></li>
                                        <li><img src="../www/img/email-logo.png"></li>
                                        <li><img src="../www/img/whatsapp.png"></li>
                                        <li><img src="../www/img/youtube-logo.png"></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p>
                                        The closest link to the investor is the advisor. Advisor is the strongest influencer and the highest interactor. ABOTMI helping advisors to educate the investors by microlearning.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </ion-content>
                </ion-view>
            </ion-side-menu-content>
        </ion-side-menus>
    </ion-view>
    