<ion-view>
	<ion-side-menus>
    	<ion-side-menu-content>
        	<ion-view>
				<upwrdz-Tabs></upwrdz-Tabs>
            	<ion-content>
                  <div overflow-scroll="true" class="m-upwrdz-editpage-content">
                    <div class="editpage-title-bar">
                      <img src="../www/img/back_arrow_25px.png" class="back-btn" alt="back arrow" ui-sref="app.myhub">
                      RATE PEERS
                    </div>
                    <div ng-repeat = "data in raterank.ratepeerlist" >
        							<div class="row accordion-toggle" simple-accordion toggle-speed="fast" toggle-easing="linear" slide-up-speed="fast" slide-up-easing="linear" >
        								<div class="col col-80">{{data.name}}</div>
        								<div class="col col-20"><i class="fa fa-chevron-down pull-right"></i></div>
        							</div>
        							<div class="row accordion-content default">
        								<p class="row">
        									<span class="col col-25">Name</span>
        									<span class="col">{{data.name}}</span>
        								</p>
        								<p class="row">
        									<span class="col col-25">Email</span>
        									<span class="col">{{data.email}}</span>
        								</p>
        								<p class="row">
        									<span class="col col-25">Status</span>
        									<button class="col-25 add-button" ng-if="data.activation_key" ng-click="raterank.rateModalSubmit(data.activation_key);">RATE</button>
        									<button class="col-25 upwrdz-button" ng-if="data.activation_key === ''" disabled>RATED</button>
        								</p>
        							</div>
        						</div>
                    </div>
            	</ion-content>
            </ion-view>
    	</ion-side-menu-content>
	</ion-side-menus>
</ion-view>
