<ion-view>
    <ion-side-menus>
        <ion-side-menu-content>
            <ion-view>
                <upwrdz-Tabs></upwrdz-Tabs>
                <ion-content>
                    <div overflow-scroll="true" class="m-upwrdz-editpage-content">
                      <div class="editpage-title-bar">
                        <img src="../www/img/back_arrow_25px.png" class="back-btn" alt="back arrow" back>
                        WHY TO ADD A CLIENT
                      </div>
                        <div class="form-group registration-form-div pull-left client_information" id="why_to_add_your_client" name="why_to_add_your_client">
                            <p>
                                Our objective is to help you as an Advisor
                                <ul>
                                    <li>To move essential activities such as reporting, administration, client data aggregation and compliance oversight onto time-saving digital platforms.</li>
                                    <li>To achieve Dynamic advice through daily client data capture.</li>
                                    <li>Drive operational efficiency by reducing client queries/requests and the need for ad-hoc client reporting.</li>
                                </ul>
                            </p>
                            <p>
                                ABOTMI platform will enable Clients to
                                <ul>
                                    <li>Automated account opening.</li>
                                    <li>Mobile account access.</li>
                                    <li>Online aggregated investment portfolio reporting (daily or real-time).</li>
                                    <li> Video-conferencing with relationship managers.</li>
                                    <li> Needs-driven online educational content.</li>
                                    <li>360-degree asset viewing and updates.</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </ion-content>
            </ion-view>
        </ion-side-menu-content>
    </ion-side-menus>
</ion-view>
