<ion-view>
        <ion-side-menus>
            <ion-side-menu-content>
                <ion-view>
                    <upwrdz-Tabs></upwrdz-Tabs>
                    <ion-content>
                        <div overflow-scroll="true" class="m-upwrdz-editpage-content">
                          <div class="editpage-title-bar">
                            <img src="../www/img/back_arrow_25px.png" class="back-btn" alt="back arrow" back>
                            <h5>HOW IT WORKS</h5>
                          </div>
                            <div class="form-group registration-form-div pull-left client_information"  id="client_management" name="client_management">
                              <div class="row">
                                <div class="col">
                                  <p>
                                   The Digital Assets Academy has 9 types of specialized education programs to become a certified expert in Digital Assets. The programs covers multiple topics regarding Cryptocurrencies, Security Tokens and blockchain technology. The platform facilitates the capability for every individual to share and learn with their peers. The goal is to help provide every individual expand their knowledge and achieve their personal objectives.
                                  </p>
                                </div>
                              </div>
                            </div>
                        </div>
                    </ion-content>
                </ion-view>
            </ion-side-menu-content>
        </ion-side-menus>
    </ion-view>
    