{% extends 'login.html' %}
{% load staticfiles %}
{% block custome_css %}
    <style type="text/css">
        .guest-padding-div-myidenty{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 80%;
        }
    </style>
{% endblock %}
{% block main_content %}
    <section class="mt-5 pt-5 mb-5 pb-5">
        <div class="container mt-5 pt-5">
            <div class="row">
                <div class="col-12 text-center">
                    <p>Sorry, Advisor has blocked the identity page. To view please contact advisor directly</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}