{% load staticfiles %}
<style>
.fancy-collapse-panel .panel-heading a {
    padding: 12px 35px 12px 15px;
    display: inline-block;
    width: 100%;
    background-color: #2E3191;
    color: #ffffff;
    position: relative;
    text-decoration: none;
}
.fancy-collapse-panel .panel-heading a.collapsed:after {
    content: "\f196";
}
.fancy-collapse-panel .panel-heading a:after {
    font-family: "FontAwesome";
    content: "\f147";
    position: absolute;
    right: 20px;
    font-size: 20px;
    font-weight: 400;
    top: 50%;
    line-height: 1;
    margin-top: -10px;
}
.fancy-collapse-panel .panel-body{
    border: 0px !important;
}
.upwrdz-log-panel .close{
       position:absolute;
       top:15px;
       right:15px;
       font-weight:600;
       background:transparent;
   }
   .upwrdz-log-panel h3{
       font-size: 25px;
       font-weight: 600;
   }
</style>
<!-- micro learning FAQ modal-->
<div class="modal fade upwardz-modal" id="micro_learning_faq_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content upwrdz-log-panel container-size-customise p-3">
            <div class="modal-header modal-header-border-bottom text-center">
                
                <h3 class="modal-title n-span-blue-color">FAQ</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="pannel-popup-content" id="">
                <div class="fancy-collapse-panel">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default upwrdz-log-panel no-border">
                            <!-- 1st tab -->
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">1. How long is the video content?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <p class="text-justify">
                                        The total playtime of the video is 3 minutes. The actual content would be two and a half minutes and half minute for the credits to be played.
                                    </p>
                                </div>
                            </div>
                            <!-- 2nd tab-->
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">2. Can I choose the location for the video shoot?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body">
                                    <p class="text-justify">
                                        Yes, It has to be your office or home.
                                    </p>
                                </div>
                            </div>
                            <!-- 3rd Tab-->
                            <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">3. Can I speak in any language?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="panel-body">
                                    <p class="text-justify">
                                        Yes, you can speak in your language of convenience.
                                    </p>
                                </div>
                            </div>
                            <!-- 4th Tab -->
                            <div class="panel-heading" role="tab" id="headingFour">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">4. Do the videos have sub-titles, when I speak in my mother tongue?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                <div class="panel-body">
                                    <p>Yes, we provide sub-titles in English when you speak in your mother tongue.</p>
                                </div>
                            </div>
                            <!-- 5th Tab-->
                            <div class="panel-heading" role="tab" id="headingFive">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">5. How many videos need to be shot in one schedule?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                                <div class="panel-body">
                                    <p>Depending on the package subscribed, the total number of videos have to be shot in one schedule.</p>
                                </div>
                            </div>
                            <!-- 6th Tab-->
                            <div class="panel-heading" role="tab" id="headingSix">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">6. Is there animation and graphics added to the video?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                                <div class="panel-body">
                                    <p>Yes, Animation and graphics can be added to the video if you wish so.</p>
                                </div>
                            </div>
                            <!-- 7th Tab -->
                            <div class="panel-heading" role="tab" id="headingSeven">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">7. How long the video will be listed?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                                <div class="panel-body">
                                    <p>The video will be listed till you wish and want to be removed.
                                    </p>
                                </div>
                            </div>
                            <!--8th Tab  -->
                            <div class="panel-heading" role="tab" id="headingEight">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">8. Can I update with new videos and delete old ones?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
                                <div class="panel-body">
                                    <p>Yes, you can upload your own videos, but will be listed only after it is verified by our team.</p>
                                </div>
                            </div>
                            <!-- 9th Tab -->
                            <div class="panel-heading" role="tab" id="headingNine">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">9. Can I upload my own videos?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
                                <div class="panel-body">
                                    <p>Yes, you can upload your own videos, but will be listed only after it is verified by our team.</p>
                                </div>
                            </div>
                            <!-- 10th Tab -->
                            <div class="panel-heading" role="tab" id="headingTen">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen" aria-expanded="false" aria-controls="collapseTen">10. How can I know who has seen my videos or commented on the same?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
                                <div class="panel-body">
                                    <p>The number of the viewers and their comments would be shown.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- micro learning FAQ modal-->