{% extends 'home_base.html' %}
{% load widget_tweaks %}
{% load staticfiles %}
{% block important_css %}
{% endblock %}
{% block main_content %}
<section class="main-contact faq-section">
    <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="panel panel-default icore-div-box">
                <div class="panel-body pannel-content">
                    <div class="col-sm-6 col-xs-12 star-rating star-rating-view-right">
                        <div class="ratings">
                            <h3 class="n-h2 text-center">Project Details</h3>
                        </div>
                        <div class="col-xs-12 text-right mob-no-padding-margin">
                            {% for pd in project_detail %}
                                </br>
                                Project name:{{ pd.name }} </br>
                                Address:{{ pd.address }} </br>
                                Rating:{{ pd.rating_code }}</br>
                                Developer name:{{ pd.developer_name }}</br>
                                Minimum staring price:{{ pd.min_reingo_price }}</br>
                                Open date:{{ pd.opening_date }}</br>
                                Close date:{{ pd.closing_date }}</br>
                                Raising on:{{ pd.launch_date }}</br>
                                Project Duration:{{ pd.project_duration }}</br>
                                <!-- {{pd.approved_by_bank}} -->
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
