{% load staticfiles %}
{% load widget_tweaks %}
<div class="modal fade upwardz-modal" id="try_premium" name="try_premium" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg subscription-number-details">
        <div class="panel panel-default upwrdz-log-panel">
            <div class="modal-header modal-header-border-bottom text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fa fa-times-thin fa-2x"></i>
                </button>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-4  premium-package">
                                <div class="input-group stylish-input-group">
                                    <input type="text" class="form-control"  placeholder="Search" >
                                    <!-- <span class="input-group-addon">
                                        <button type="submit">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                    </span> -->
                                </div>
                                <ul class="text-left">
                                    <li>Naresh<i class="fa fa-angle-right" aria-hidden="true"></i></li>
                                    <li>Naresh<i class="fa fa-angle-right" aria-hidden="true"></i></li>
                                    <li>Naresh<i class="fa fa-angle-right" aria-hidden="true"></i></li>
                                    <li>Naresh<i class="fa fa-angle-right" aria-hidden="true"></i></li>
                                    <li>Naresh<i class="fa fa-angle-right" aria-hidden="true"></i></li>
                                    <li>Naresh<i class="fa fa-angle-right" aria-hidden="true"></i></li>
                                    <li>Naresh<i class="fa fa-angle-right" aria-hidden="true"></i></li>
                                    <li>Naresh<i class="fa fa-angle-right" aria-hidden="true"></i></li>
                                    <li>Naresh<i class="fa fa-angle-right" aria-hidden="true"></i></li>
                                    <li>Naresh<i class="fa fa-angle-right" aria-hidden="true"></i></li>
                                    <li>Naresh<i class="fa fa-angle-right" aria-hidden="true"></i></li>
                                    <li>Naresh<i class="fa fa-angle-right" aria-hidden="true"></i></li>
                                    <li>Naresh<i class="fa fa-angle-right" aria-hidden="true"></i></li>
                                    <li>Naresh<i class="fa fa-angle-right" aria-hidden="true"></i></li>
                                    <li>Naresh<i class="fa fa-angle-right" aria-hidden="true"></i></li>
                                </ul>
                            </div>
                            <div class="col-sm-8 premium-package-detailes-main">
                                <div class="premium-package-detailes">
                                <ul>
                                    <li>EXECUTIVE</li>
                                    <li><p><label>Name</label><label><i class="fa fa-minus" aria-hidden="true"></i>Nareshreddy</label></p></li>
                                    <li><p><label>Name</label><label><i class="fa fa-minus" aria-hidden="true"></i>Nareshreddy</label></p></li>
                                    <li><p><label>Name</label><label><i class="fa fa-minus" aria-hidden="true"></i>Nareshreddy</label></p></li>
                                    <li><p><label>Name</label><label><i class="fa fa-minus" aria-hidden="true"></i>Nareshreddy</label></p></li>
                                    <li><p><label>Name</label><label><i class="fa fa-minus" aria-hidden="true"></i>Nareshreddy</label></p></li>
                                    <li><p><label>Name</label><label><i class="fa fa-minus" aria-hidden="true"></i>Nareshreddy</label></p></li>
                                    <li><p><label>Name</label><label><i class="fa fa-minus" aria-hidden="true"></i>Nareshreddy</label></p></li>
                                    <li><p><label>Name</label><label><i class="fa fa-minus" aria-hidden="true"></i>Nareshreddy</label></p></li>
                                    <li><p><label>Name</label><label><i class="fa fa-minus" aria-hidden="true"></i>Nareshreddy</label></p></li>
                                    <li><p><label>Name</label><label><i class="fa fa-minus" aria-hidden="true"></i>Nareshreddy</label></p></li>
                                </ul>
                                <button class="btn danger">UPGRADE</button>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row"></div>
            </div>
        </div>
    </div>
</div>
